{% extends 'layouts.html'%}

{% block content %}
<h2 class="cabeçario-pagina">Adicionar Combo</h2>

<div class="product-table">
    <table class="product-table">
        <thead>
            <tr>
                <th style="background-color: #444343; font-size: 120%;">Dados do Combo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    <div style="display: flex; justify-content: space-between;">
                        <div style="padding: 5px;">
                            <label for="">Peças</label>
                            <select id="pecaSelecionada">
                                <option value="1551 termianl hou15asdhasdu R$ 10,31">termianl /R$ 10,31</option>
                                <option value="262 barra ja51isndin R$ 15,20">barra/R$ 15,20</option>
                                <option value="525 pivo 5dasd15 R$ 25,20">pivo/R$ 25,20</option>
                            </select>
                            <input class="number-input-combo" data-item-id=""
                                style="text-align: center;width: 50px; font-size: 100%;" type="number"
                                id="quantidadePeca" name="quantidadePeca" value="1" min="1">
                            <select id="ladoPecaCombo" name="lado" class="semselect2 searchselector" data-item-id="">
                                <option value="S">Sem Lado</option>
                                <option value="L/D">Direita</option>
                                <option value="L/E">Esquerda</option>
                            </select>
                            <input type="button" onclick="adicionarPeca()" class="cor-ok" name="" value="Add Peça">
                        </div>
                        <div style="padding: 5px;">
                            <label for="">Mão de Obra</label>
                            <select id="maoDeObraSelecionada">
                                <option value="troca de termianl">troca de termianl</option>
                                <option value="troca de barra">troca de barra</option>
                                <option value="troca de pivo">troca de pivo</option>
                            </select>
                            <input type="button" onclick="adicionarMaoDeObra()" class="cor-ok" name=""
                                value="Add Mão de obra">
                        </div>
                        <div style="padding: 5px;">
                            <a href="#" onclick="return validarCampos();">
                                <input type="button" class="cor-alerta" name="" value="Add Item Manualmente">
                            </a>
                        </div>
                    </div>
                </th>
            </tr>
        </tbody>
        <tbody id="peca-tbody">
        </tbody>
        <tbody>
            <tr>
                <td>
                    <div id="soma_pecas_combo"><strong>Total em Peças:</strong> R$ 0.00</div>
                </td>
            </tr>
        </tbody>
        <tbody id="mdo-tbody">
        </tbody>
        <tbody>
            <tr>
                <td>
                    <div id="somaTotalCombo"><strong>Total:</strong> R$ 0.00</div>
                </td>
            </tr>
        </tbody>
    </table>
    <label for="obsSer">Observação:</label>
    <textarea id="obsSer" name="obsSer" rows="5" cols="40"></textarea>
</div>

<script>
    var contadorItens = 0;
    var contadorItensMdo = 0;

    function adicionarPeca() {
        contadorItens++;

        var pecaSelecionada = document.querySelector("#pecaSelecionada").value;
        let palavras = pecaSelecionada.split(" ");

        var nomePeca = palavras[0];
        var codigo = palavras[1]
        var valor = palavras.slice(2).join(" "); 

        var quantidadePeca = document.querySelector("#quantidadePeca").value;
        var ladoPecaCombo = document.querySelector("#ladoPecaCombo").value;

        var newRow = document.createElement("tr");


        newRow.setAttribute("id", "peca-row-" + contadorItens);

        newRow.innerHTML = `
            <td>
                <fieldset class="containerForm" style="cursor: pointer;">
                    <div class="peca-Nome toggleButton">
                        <div><strong>${contadorItens}&rpar; Nome:</strong><span>${nomePeca}</span><span class="arrow">▼</span></div>
                    </div>
                    <div class="containerDados hidden">
                        <div class="peca-card">
                            <div><strong>Código:</strong>${codigo}dfdf</div>
                            <hr>
                            <div><strong>Unidade:</strong><input class="number-input-combo" data-item-id=""
                                style="text-align: center;width: 50px; font-size: 100%;" type="number" id="un"
                                name="un" value="${quantidadePeca}" min="1"></div>
                            <hr>
                            <div><strong>Lado:</strong><select name="lado" class="semselect2 searchselector"
                                data-item-id="">
                                <option value="L/E" selected>${ladoPecaCombo}</option>
                                <option value="S">Sem Lado</option>
                                <option value="L/D">Direita</option>
                                <option value="L/E">Esquerda</option>
                            </select></div>
                            <hr>
                            <div><strong>Preço:</strong><span class="precoPeca">${valor}</span></div>
                            <hr>
                            <div class="preco-total-combo" style="color: #008337; font-weight: bold;"><strong
                                style="color: #000000;">Preço Total:</strong> R$ 0,00</div>
                            <hr>
                            <input type="button" onclick="apagarItem('peca-row-${contadorItens}')" class="cor-cancelar" value="Apagar Item">
                        </div>
                    </div>
                </fieldset>
            </td>
        `;


        document.querySelector("#peca-tbody").appendChild(newRow);

        newRow.querySelector(".toggleButton").addEventListener("click", function () {
            var containerDados = this.nextElementSibling;
            containerDados.classList.toggle("hidden");
        });

        atualizarTotaisCombo();
    }

    function adicionarMaoDeObra() {
        contadorItensMdo++;

        var newRow = document.createElement("tr");

        newRow.setAttribute("id", "mdo-row-" + contadorItensMdo);

        newRow.innerHTML = `
            <td>
                <fieldset class="containerForm" style="cursor: pointer;">
                    <div class="peca-Nome toggleButton">
                        <div><strong>${contadorItensMdo}&rpar;</strong><span>MÃO DE OBRA</span><span class="arrow">▼</span></div>
                    </div>
                    <div class="hidden">
                        <div class="peca-card">
                            <div><strong>Nome:</strong><span>troca de termianl</span></div>
                            <hr>
                            <div style="color: #008337; font-weight: bold;"><strong
                                    style="color: #000000;">Preço:</strong><span class="precoMDOcombo">R$ 10,50</span>
                            </div>
                            <hr>
                            <input type="button" onclick="apagarItem('mdo-row-${contadorItensMdo}')" class="cor-cancelar" value="Apagar Item">
                        </div>
                    </div>
                </fieldset>
            </td>
        `;

        document.querySelector("#mdo-tbody").appendChild(newRow);

        newRow.querySelector(".toggleButton").addEventListener("click", function () {
            var containerDados = this.nextElementSibling;
            containerDados.classList.toggle("hidden");
        });

        atualizarTotaisCombo();
    }

    function apagarItem(rowId) {
        var rowToRemove = document.getElementById(rowId);
        rowToRemove.parentNode.removeChild(rowToRemove);

        if (rowId.includes("peca-row")) {
            contadorItens--;
            atualizarNumeros("#peca-tbody", "peca-row");
        } else if (rowId.includes("mdo-row")) {
            contadorItensMdo--;
            atualizarNumeros("#mdo-tbody", "mdo-row");
        }

        atualizarTotaisCombo();
    }

    function atualizarNumeros(tbodyId, rowPrefix) {
        var tbody = document.querySelector(tbodyId);
        var rows = tbody.querySelectorAll("tr");

        rows.forEach(function (row, index) {
            var numeroItem = index + 1;
            var rowId = row.getAttribute("id");
            var newId = rowPrefix + "-" + numeroItem;

            row.querySelector(".peca-Nome strong").innerHTML = numeroItem + "&rpar; Nome:";

            row.setAttribute("id", newId);

            var button = row.querySelector(".cor-cancelar");
            button.setAttribute("onclick", "apagarItem('" + newId + "')");
        });
    }

    function formatCurrencyCombo(value) {
        return value.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
    }

    function atualizarTotaisCombo() {
        let totalPecas = 0;
        let totalMDO = 0;

        const elementosPeca = document.querySelectorAll('.precoPeca');
        elementosPeca.forEach(function (elemento) {
            const precoPeca = parseFloat(elemento.textContent.replace('R$', '').trim());
            const quantidadeInput = elemento.closest('.containerDados').querySelector('.number-input-combo');
            const quantidade = parseFloat(quantidadeInput.value);
            totalPecas += precoPeca * quantidade;
            const precoTotalPecaElement = elemento.closest(".containerDados").querySelector(".preco-total-combo");
            precoTotalPecaElement.innerHTML = `<strong style='color: #000000;'>Preço Total:</strong> ${formatCurrencyCombo(precoPeca * quantidade)}`;
        });

        const elementosMDO = document.querySelectorAll('.precoMDOcombo');
        elementosMDO.forEach(function (elemento) {
            totalMDO += parseFloat(elemento.textContent.replace('R$', '').trim());
        });

        const totalGeral = totalPecas + totalMDO;
        document.getElementById('soma_pecas_combo').innerHTML = `<p style="float: right;">Total em Peças: <strong>${formatCurrencyCombo(totalPecas)}</strong></p>`;
        document.getElementById('somaTotalCombo').innerHTML = `<strong>Total:</strong> ${formatCurrencyCombo(totalGeral)}`;
    }

    document.addEventListener("DOMContentLoaded", function () {
        const soma_pecas_combo = document.getElementById("soma_pecas_combo");

        document.addEventListener('input', function (event) {
            const target = event.target;

            if (target.classList.contains('number-input-combo') || target.classList.contains('precoMDOcombo') || target.classList.contains('precoPeca')) {
                atualizarTotaisCombo();
            }
        });

        if (soma_pecas_combo) {
            atualizarTotaisCombo();
        } else {
        }
    });
</script>

{% endblock content %}