{% extends 'NavAdimin.html' %}

{% block content %}

<h2 class="cabeçario-pagina">combos</h2>

<div id="search-container">
    <div class="search-box">
        <form style="display: flex; width: 98%;" method="POST">
            {% if busca %}
            <input class="anular" value="{{busca}}" type="text" id="searchinput" placeholder="Buscar Combo"
                autofocus="autofocus" name="search_string" aria-label="searchCombo">
            {% else %}
            <input class="anular" type="text" id="searchinput" placeholder="Buscar Combo" autofocus="autofocus"
                name="search_string" aria-label="searchCombo">
            {% endif %}

            <select class="anular searchselector" id="searchselector" name="searchselector" onchange="alterarFormato()">
                </option>
                {% if escolha == "todos" %}
                <option value="todos" selected>Todos</option>
                {% else %}
                <option value="todos">Todos</option>
                {% endif %}
                {% if escolha == "id" %}
                <option value="id" selected>ID</option>
                {% else %}
                <option value="id">ID</option>
                {% endif %}
                {% if escolha == "nome" %}
                <option value="nome" selected>Nome</option>
                {% else %}
                <option value="nome">Nome</option>
                {% endif %}
                {% if escolha == "status" %}
                <option value="status" selected>Status</option>
                {% else %}
                <option value="status">Status</option>
                {% endif %}
            </select>
            {%if Adicionar%}
            <button id="search-button" formaction="/searchComboServico/{{Adicionar.id}}">Buscar</button>
            {%else%}
            <button id="search-button" formaction="/searchCombo">Buscar</button>
            {%endif%}


        </form>
    </div>
</div>
<div class="custom-validation-message" id="customMessage"></div>

{%if Adicionar%}
{%if Adicionar.status == "Editar"%}
<div class="botao-add">
    <a href="{{url_for('finalizarEdit', id=Adicionar.id)}}" class="button-pequeno cor-alerta">Retornar</a>
</div>
{%else%}
<div class="botao-add">
    <a href="{{url_for('AbrirServico', id=Adicionar.id,tratatar='tratatar')}}"
        class="button-pequeno cor-alerta">Retornar {{Adicionar.status}}</a>
</div>
{%endif%}
{%else%}
<div class="botao-add">
    <a href="{{url_for('addCombo')}}" class="button-pequeno cor-ok">Adicionar Combo</a>
</div>
{%endif%}

<div class="mobile-table">
    <table class="mobile-table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for item in combos %}
            {% if item.atividade %}
            <tr>
                <td style="color: green; font-weight: bold;" class="truncate">{{item.nome}}</td>
                <td style="color: green; font-weight: bold;">{{ item.status }}</td>
            </tr>
            {% else %}
            <tr>
                <td style="color: red; font-weight: bold;" class="truncate">{{item.nome}}</td>
                <td style="color: red; font-weight: bold;">{{ item.status }}</td>
            </tr>
            {% endif %}

            <tr class="row-details">
                <td colspan="5">
                    <table class="nested-table">
                        <thead>
                            <tr>
                                <th colspan="4"
                                    style="color: aliceblue; text-align: center; background-color: rgb(77, 77, 77);">
                                    Dados item</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="4">
                                    <div class="lado-div">
                                        <img src="{{ url_for('static', filename='imagens/' + item.image_1) }}"
                                            alt="{{ item.nome }}" class="image-Pequena">
                                        <div style="text-align: center; display: block; width: 100%;">
                                            <label for="carros">Carros Compativeis:</label>
                                            <div class="scroll-container-combo">
                                                <textarea class="car-textarea-combo" name="carros" id="carros" cols=""
                                                    rows="">{{item.carro}}</textarea>
                                            </div>

                                        </div>
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <th>ID</th>
                                <td colspan="3">{{ item.id }}</td>
                            </tr>

                            <tr>
                                <th>Data/inicial</th>
                                <td colspan="3" class="dataFormatada">{{ item.data_inicil_combo }}</td>
                            </tr>
                            {% if item.data_final_combo %}
                            <tr>
                                <th>Data/Final</th>
                                <td colspan="3" class="dataFormatada">{{ item.data_final_combo }}</td>
                            </tr>

                            {% else %}
                            <tr>
                                <th>Data/Final</th>
                                <td colspan="3">INDEFINIDO</td>
                            </tr>
                            {% endif %}
                            <tr>
                                <th>Serviço</th>
                                <td colspan="3" class="mdo_nome_json">{{ item.mo_os_combo }}</td>
                            </tr>
                            <tr>
                                <th>OBS</th>
                                <td colspan="3">{{ item.obs }}</td>
                            </tr>
                            {% if item.atividade %}
                            <tr>
                                <td colspan="4" style="color: green; font-weight: bold;">ATIVO</td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="4" style="color: red; font-weight: bold;">INATIVO</td>
                            </tr>
                            {% endif %}
                            <tr>
                                {%if Adicionar%}
                                <td colspan="2">
                                    <a
                                        href="{{url_for('adicinar_item_combo_sevico', idSevico=Adicionar.id, idCombo=item.id)}}"><input
                                            type="submit" class="cor-ok" name="" value="Adicionar"></a>
                                </td>
                                {%else%}

                                {%if session["nivel"] >= 4%}
                                <td>
                                    <input type="button" onclick="showDiv('Combos', '{{item.id}}', '{{item.nome}}')"
                                        class="cor-cancelar" style="margin-bottom: 10px;" value="Apagar">
                                </td>
                                {%else%}
                                {%endif%}
                                <td>
                                    <a href="{{url_for('AbrirCombo', id=item.id)}}"><input type="submit" class="cor-ok"
                                            name="" value="Editar"></a>
                                </td>


                                {%endif%}
                            </tr>

                    </table>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{%if Adicionar%}
<div class="pagination">
    {% if combos.has_prev %}
    {% if busca %}
    <form action="{{ url_for('searchComboServico',id=Adicionar.id, page=AbriCombosSevico.prev_num) }}" method="POST">
        <input value="{{ busca }}" type="hidden" id="searchinput" name="search_string">
        <input value="{{ escolha }}" type="hidden" id="searchselector" name="searchselector">
        <button type="submit">&lt;</button>
    </form>
    {% else %}
    <a href="{{ url_for('AbriCombosSevico', id=Adicionar.id, page=AbriCombosSevico.prev_num) }}">&lt;</a>
    {% endif %}
    {% endif %}
    {% if combos.total > 10 %}
    {% for page_num in AbriCombosSevico.iter_pages(left_edge=0, right_edge=1, left_current=1, right_current=1) %}
    {% if page_num %}
    {% if combos.page == page_num %}
    {%if busca %}
    <form action="{{ url_for('searchComboServico', id=Adicionar.id, page=page_num) }}" method="POST">
        <input value="{{ busca }}" type="hidden" id="searchinput" name="search_string">
        <input value="{{ escolha }}" type="hidden" id="searchselector" name="searchselector">
        <button class="paginationActive" type="submit">{{ page_num }}</button>
    </form>
    {% else %}
    <a class="paginationActive" href="{{ url_for('AbriCombosSevico', id=Adicionar.id, page=page_num) }}">{{ page_num
        }}</a>
    {% endif %}
    {% else %}
    {%if busca %}
    <form action="{{ url_for('searchComboServico', id=Adicionar.id, page=page_num) }}" method="POST">
        <input value="{{ busca }}" type="hidden" id="searchinput" name="search_string">
        <input value="{{ escolha }}" type="hidden" id="searchselector" name="searchselector">
        <button type="submit">{{ page_num }}</button>
    </form>
    {% else %}
    <a href="{{ url_for('AbriCombosSevico', id=Adicionar.id, page=page_num) }}">{{ page_num }}</a>
    {% endif %}
    {% endif %}
    {% endif %}
    {% endfor %}
    {% endif %}
    {% if combos.has_next %}
    {% if busca %}
    <form action="{{ url_for('searchComboServico', id=Adicionar.id, page=AbriCombosSevico.next_num) }}" method="POST">
        <input value="{{ busca }}" type="hidden" id="searchinput" name="search_string">
        <input value="{{ escolha }}" type="hidden" id="searchselector" name="searchselector">
        <button type="submit">&gt;</button>
    </form>
    {% else %}
    <a href="{{ url_for('AbriCombosSevico', id=Adicionar.id, page=AbriCombosSevico.next_num) }}">&gt;</a>
    {% endif %}
    {% endif %}
</div>
{%else%}
<div class="pagination">
    {% if combos.has_prev %}
    {% if busca %}
    <form action="{{ url_for('searchCombo', page=combos.prev_num) }}" method="POST">
        <input value="{{ busca }}" type="hidden" id="searchinput" name="search_string">
        <input value="{{ escolha }}" type="hidden" id="searchselector" name="searchselector">
        <button type="submit">&lt;</button>
    </form>
    {% else %}
    <a href="{{ url_for('combos', page=combos.prev_num) }}">&lt;</a>
    {% endif %}
    {% endif %}
    {% if combos.total > 10 %}
    {% for page_num in combos.iter_pages(left_edge=0, right_edge=1, left_current=1, right_current=1) %}
    {% if page_num %}
    {% if combos.page == page_num %}
    {%if busca %}
    <form action="{{ url_for('searchCombo', page=page_num) }}" method="POST">
        <input value="{{ busca }}" type="hidden" id="searchinput" name="search_string">
        <input value="{{ escolha }}" type="hidden" id="searchselector" name="searchselector">
        <button class="paginationActive" type="submit">{{ page_num }}</button>
    </form>
    {% else %}
    <a class="paginationActive" href="{{ url_for('combos', page=page_num) }}">{{ page_num }}</a>
    {% endif %}
    {% else %}
    {%if busca %}
    <form action="{{ url_for('searchCombo', page=page_num) }}" method="POST">
        <input value="{{ busca }}" type="hidden" id="searchinput" name="search_string">
        <input value="{{ escolha }}" type="hidden" id="searchselector" name="searchselector">
        <button type="submit">{{ page_num }}</button>
    </form>
    {% else %}
    <a href="{{ url_for('combos', page=page_num) }}">{{ page_num }}</a>
    {% endif %}
    {% endif %}
    {% endif %}
    {% endfor %}
    {% endif %}
    {% if combos.has_next %}
    {% if busca %}
    <form action="{{ url_for('searchCombo', page=combos.next_num) }}" method="POST">
        <input value="{{ busca }}" type="hidden" id="searchinput" name="search_string">
        <input value="{{ escolha }}" type="hidden" id="searchselector" name="searchselector">
        <button type="submit">&gt;</button>
    </form>
    {% else %}
    <a href="{{ url_for('combos', page=combos.next_num) }}">&gt;</a>
    {% endif %}
    {% endif %}
</div>
{%endif%}

<script>
    const elementosMDOnome = document.querySelectorAll(".mdo_nome_json");
    elementosMDOnome.forEach(elemento => {
        const dadosJSON = JSON.parse(elemento.textContent);

        // Verifica se existem itens no objeto JSON
        if (dadosJSON.itens && dadosJSON.itens.length > 0) {
            // Cria um div para armazenar os nomes
            const divNomes = document.createElement("div");

            // Itera sobre todos os itens do objeto JSON
            dadosJSON.itens.forEach(item => {
                // Verifica se há um nome neste item
                if (item.MDO_nome) {
                    // Remove os pontos do nome
                    const nomeSemPontos = item.MDO_nome;

                    // Cria um elemento de texto para o nome e adiciona à div
                    const nomeTexto = document.createElement("span");
                    nomeTexto.textContent = nomeSemPontos;
                    divNomes.appendChild(nomeTexto);

                    // Adiciona uma quebra de linha entre os nomes
                    const quebraLinha = document.createElement("br");
                    divNomes.appendChild(quebraLinha);
                }
            });

            // Limpa o conteúdo do elemento original e adiciona a div de nomes
            elemento.innerHTML = "";
            elemento.appendChild(divNomes);
        } else {
            // Se não houver itens, exibe "Não há nome" como antes
            const nomeElemento = document.createElement("span");
            nomeElemento.textContent = "Não há Mão de obra";
            elemento.innerHTML = "a";
            elemento.appendChild(nomeElemento);
        }
    });
</script>

{% endblock content %}