{% extends 'layouts.html'%}

{% block content %}
{% from "_formularioAjuda.html" import render_field %}
{% if atulizar %}
<h2 class="cabeçario-pagina">Atulizar {{produto}}</h2>
{% else %}
<h2 class="cabeçario-pagina">Adicionar {{produto}}</h2>
{% endif %}
<form action="" method="POST" enctype="multipart/form-data">
    {{form.csrf_token}}
    <fieldset class="containerForm">
        <div class="header toggleButton">
            <div class="divCentro">
                <legend>Dados da Peça</legend>
                <span style="font-size: 80%;">(Dados Obrigatorios)</span>
            </div>
            <span class="arrow">▼</span>
        </div>
        <div class="containerDados hidden">
            {{ render_field(form.nome, placeholder='Nome do Peça') }}
            {{ render_field(form.codigo, placeholder='Codigo da Peça') }}
            {{ render_field(form.codigo_debarra, placeholder='Codigo de Barra') }}
            {{ render_field(form.descrisao, placeholder='Descrição da Peça') }}
            <div class="lado-a-lado">
                {{ render_field(form.estoque,id='nufor', placeholder='Estoque') }}
            </div>
            <div class="lado-a-lado">
                {{ render_field(form.pago,
                placeholder='R$ 0,00', class="inputReais")}}
            </div>
            <div class="lado-a-lado">
                {{ render_field(form.preso,placeholder='R$ 0,00', class="inputReais ")}}
            </div>
            <label for="marcaPro">Adicione o Fornecedor</label>
            <select name="fornecedor" id="fornecedor" required>
                <option value="">--Selecione o Fornecedor--</option>
                {% if atulizar %}
                <option value="{{ Peca.fornecedor.id }}" selected>{{ Peca.fornecedor.nome }}</option>
                {% endif %}
                {%for fornecedor in fornecedors%}
                <option value="{{fornecedor.id}}">{{fornecedor.nome}}</option>
                {%endfor%}
            </select>

            <label for="marcaPro">Adicione a Marca da Peça</label>
            <select name="marcaPro" id="marcaPro" required>
                <option value="">Selecione a Marca</option>
                {% if atulizar %}
                <option value="{{ Peca.marca.id }}" selected>{{ Peca.marca.nome }}</option>
                {% endif %}
                {%for marcaPro in marcasPro%}
                <option value="{{marcaPro.id}}">{{marcaPro.nome}}</option>
                {%endfor%}
            </select>
        </div>
    </fieldset>
    <fieldset class="containerForm">
        <div class="header toggleButton">
            <div class="divCentro">
                <legend>Carros Compativeis</legend>
            </div>
            <span class="arrow">▼</span>
        </div>
        <div class="containerDados hidden">

            <div>
                <label for="marcaT">Marca:</label>
                <select id="marcaT" name="marcaT">
                    <option value="TODOS">--Selecione marca--</option>
                    {% for marca in marcas %}
                    <option value="{{ marca }}">{{ marca }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="modeloT">Modelo:</label>
                <select id="modeloT" name="modeloT" disabled>
                    <option value="TODOS">--Selecione modelo--</option>
                </select>
            </div>
            <div>
                <label for="anoIniT">Ano inicil:</label>
                <select id="anoIniT" name="anoIniT" disabled>
                    <option value="TODOS">--Selecione Do ano--</option>
                </select>
            </div>
            <div>
                <label for="anoFinT">Ano Final:</label>
                <select id="anoFinT" name="anoFinT" disabled>
                    <option value="TODOS">--Selecione Ate o ano--</option>
                </select>
            </div>
            <div>
                <label for="motorT">Motor:</label>
                <select id="motorT" name="motorT" disabled>
                    <option value="TODOS">--Selecione motor--</option>
                </select>
            </div>

            <input type="submit" id="add-button" class="button-pequeno cor-alerta">
            {% if atulizar %}
            <select id="carros" name="carros" class="select2" multiple>
                {% for item in Peca.carro %}
                <option value="{{item}}" selected style="background-color: #ccc; color: #333;">{{item}}</option>
                {% endfor %}
            </select>
            {% else %}
            <select id="carros" name="carros" class="select2" multiple></select>
            {% endif %}
        </div>
    </fieldset>

    <fieldset class="containerForm">
        <div class="header toggleButton">
            <div class="divCentro">
                <legend>Imagens do produto</legend>
            </div>
            <span class="arrow">▼</span>
        </div>
        <div class="containerDados hidden">

            <div class="file-input">
                <input type="file" name="image_1" id="image_1" onchange="previewImage(event, 1)" accept="image/*">
                <label for="image_1">Adicionar Imagem 1</label>
                {% if atulizar %}
                <img src="{{url_for('static',filename='imagens/'+Peca.image_1)}}" id="preview-image-1" src=""
                    alt="Preview Image 1" onclick="openFileInput(1)">
                {% else %}
                <img id="preview-image-1" src="{{url_for('static',filename='imagens/foto.jpg')}}" alt=""
                    onclick="openFileInput(1)">
                {% endif %}
            </div>
            <div class="file-input">
                <input type="file" name="image_2" id="image_2" onchange="previewImage(event, 2)" accept="image/*">
                <label for="image_2">Adicionar Imagem 2</label>
                {% if atulizar %}
                <img src="{{url_for('static',filename='imagens/'+Peca.image_2)}}" id="preview-image-2" src=""
                    alt="Preview Image 2" onclick="openFileInput(2)">
                {% else %}
                <img id="preview-image-2" src="{{url_for('static',filename='imagens/foto.jpg')}}" alt=""
                    onclick="openFileInput(2)">
                {% endif %}
            </div>
            <div class="file-input">
                <input type="file" name="image_3" id="image_3" onchange="previewImage(event, 3)" accept="image/*">
                <label for="image_3">Adicionar Imagem 3</label>
                {% if atulizar %}
                <img src="{{url_for('static',filename='imagens/'+Peca.image_3)}}" id="preview-image-3" src=""
                    alt="Preview Image 3" onclick="openFileInput(3)">
                {% else %}
                <img id="preview-image-3" src="{{url_for('static',filename='imagens/foto.jpg')}}" alt=""
                    onclick="openFileInput(3)">
                {% endif %}
            </div>
        </div>
    </fieldset>
    <fieldset class="containerForm">
        {% if atulizar %}
        {{form.submit(value="ATULIZAR", class="button-grande cor-ok")}}
        {% else %}
        {{form.submit(class="button-grande cor-ok")}}
        {% endif %}
        <a href="{{url_for('Pecas')}}" class="button-medio cor-cancelar">CANCELAR</a>
    </fieldset>
</form>


{% endblock content %}