{% extends 'NavAdimin.html' %}
{% block content %}
<h2 class="cabeçario-pagina">Peças</h2>
<div id="search-container">
    <div class="search-box">
        <form style="display: flex; width: 98%;" method="POST">
            {% if busca %}
            <input class="anular " value="{{busca}}" type="text" id="searchinput" placeholder="Buscar Pecas"
                autofocus="autofocus" name="search_string" aria-label="searchPecas">
            {% else %}
            <input class="anular" type="text" id="searchinput" placeholder="Buscar Pecas" autofocus="autofocus"
                name="search_string" aria-label="searchPecas">
            {% endif %}

            <select class="anular searchselector" id="searchselector" name="searchselector" onchange="alterarFormato()">
                <option style="background-color: rgb(165, 164, 164); color: black;" disabled>Peças
                </option>
                {% if escolha == "todos" %}
                <option value="todos" selected>Todos</option>
                {% else %}
                <option value="todos">Todos</option>
                {% endif %}
                {% if escolha == "nome" %}
                <option value="nome" selected>Nome</option>
                {% else %}
                <option value="nome">Nome</option>
                {% endif %}
                {% if escolha == "codigo" %}
                <option value="codigo" selected>Codigo</option>
                {% else %}
                <option value="codigo">Codigo</option>
                {% endif %}
                {% if escolha == "codigo_debarra" %}
                <option value="codigo_debarra" selected>Codigo de Barra</option>
                {% else %}
                <option value="codigo_debarra">Codigo de Barra</option>
                {% endif %}
                {% if escolha == "marca" %}
                <option value="marca" selected>Marca Pecas</option>
                {% else %}
                <option value="marca">Marca</option>
                {% endif %}
                {% if escolha == "fornecedor" %}
                <option value="fornecedor" selected>Fornecedor</option>
                {% else %}
                <option value="fornecedor">Fornecedor</option>
                {% endif %}
                {% if escolha == "carro" %}
                <option value="carro" selected>Carros</option>
                {% else %}
                <option value="carro">Carros</option>
                {% endif %}
            </select>
            {% if Adicionar %}
            <input type="hidden" name="id" value="{{ Adicionar.id }}" style="display: none;">
            <button id="search-button" formaction="/searchPecasAdicionar">Buscar</button>
            {% elif AdicionarCombo %}
            <input type="hidden" name="id" value="{{ AdicionarCombo.id }}" style="display: none;">
            <button id="search-button" formaction="/searchPecasAdicionarCombo">Buscar</button>
            {% else %}
            <button id="search-button" formaction="/searchPecas">Buscar</button>
            {% endif %}
        </form>
    </div>
</div>
{% if Adicionar %}
{%if Adicionar.status == "Editar"%}
<div class="botao-add">
    <a href="{{url_for('finalizarEdit', id=Adicionar.id)}}" class="button-pequeno cor-alerta">Retornar</a>
</div>
{%else%}
<div class="botao-add">
    <a href="{{url_for('AbrirServico', id=Adicionar.id,tratatar='tratatar')}}"
        class="button-pequeno cor-alerta">Retornar {{Adicionar.status}}</a>
</div>
{%endif%}
{% elif AdicionarCombo %}
<div class="botao-add">
    <a href="{{url_for('AbrirCombo', id=AdicionarCombo.id)}}" class="button-pequeno cor-alerta">Retornar
        {{AdicionarCombo.status}}</a>
</div>
{% else %}
<div class="botao-add">
    <a href="{{url_for('addPecas')}}" class="button-pequeno cor-ok">Adicionar Peca</a>
</div>
{% endif %}

<div class="mobile-table">
    <table class="mobile-table">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            {% for Peca in Pecas %}
            <tr>
                <td>{{ Peca.codigo }}</td>
                <td>{{ Peca.nome }}</td>
            </tr>
            <tr class="row-details">
                <td colspan="5">
                    <table class="nested-table">
                        <thead>
                            <tr>
                                <th colspan="4"
                                    style="color: aliceblue; text-align: center; background-color: rgb(77, 77, 77);">
                                    Dados Pecas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <div class="lado-a-lado ">
                                <img src="{{ url_for('static', filename='imagens/' + Peca.image_1) }}"
                                    alt="{{ Peca.nome }}" class="image-Pequena">
                                <img src="{{ url_for('static', filename='imagens/' + Peca.image_2) }}"
                                    alt="{{ Peca.nome }}" class="image-Pequena">
                                <img src="{{ url_for('static', filename='imagens/' + Peca.image_3) }}"
                                    alt="{{ Peca.nome }}" class="image-Pequena">
                            </div>
                            <tr>
                                <th>ID</th>
                                <td colspan="3">{{ Peca.id }}</td>
                            </tr>
                            <tr>
                                <th>Codigo/Barra</th>
                                <td colspan="3">{{ Peca.codigo_debarra }}</td>
                            </tr>

                            <tr>
                                <th>Fornecedor</th>
                                <td colspan="3">{{ Peca.fornecedor.nome }}</td>
                            </tr>
                            <tr>
                                <th>Marca</th>
                                <td colspan="3">{{ Peca.marca.nome }}</td>
                            </tr>
                            <tr>
                                <th>Custo</th>
                                <td colspan="3">{{ Peca.pago }}</td>
                            </tr>
                            <tr>
                                <th>Preço</th>
                                <td colspan="3">{{ Peca.preso }}</td>
                            </tr>
                            <tr>
                                <th>Em Estoque</th>
                                <td colspan="3">{{ Peca.estoque }}</td>
                            </tr>
                            <tr>
                                <th>Descrição</th>
                                <td colspan="3">{{ Peca.descrisao }}</td>
                            </tr>
                            <tr>
                                <th>Data/Cadastro</th>
                                <td colspan="3" class="dataFormatada">{{ Peca.data_criado }}</td>
                            </tr>
                            <tr>
                                <th colspan="4">Carros Compativeis</th>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <ul>
                                        {% for item in Peca.carro %}
                                        <li>{{ item }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% if Peca.carro|length == 0 %}
                                    <ul>
                                        <li>Compativeis com Todos Carros</li>
                                    </ul>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td style="background-color: rgb(77, 77, 77);" colspan="4">

                                    {% if Adicionar or AdicionarCombo %}
                                    <div class="button-container">
                                        {% if AdicionarCombo %}
                                        <form id="meu-formulario-{{ Peca.id }}" action="/adicinar_item_peca_combo"
                                            method="PUT" onsubmit="enviarFormularioCombo('{{ Peca.id }}', event)">
                                            {% else %}
                                            <form id="meu-formulario-{{ Peca.id }}" action="/adicinar_item_peca"
                                                method="PUT" onsubmit="enviarFormulario('{{ Peca.id }}', event)">
                                                {%endif%}
                                                <div class="lado-a-lado">
                                                    <label for="nu">Quantidade:</label>
                                                    <input style="text-align: center;width: 50px; font-size: 120%;"
                                                        type="number" name="unidad" value="1" min="1">
                                                </div>
                                                <div class="lado-a-lado">
                                                    <label for="lado">Lado:</label>
                                                    <select name="lado" class="semselect2 searchselector">
                                                        <option value="S">Sem Lado</option>
                                                        <option value="L/D">Direita</option>
                                                        <option value="L/E">Esquerda</option>
                                                    </select>
                                                </div>
                                                {% if AdicionarCombo %}
                                                <input type="hidden" id="numero_Combo" name="numero_Combo"
                                                    value="{{ AdicionarCombo.id }}">
                                                {% else %}
                                                <input type="hidden" id="numero_servico" name="numero_servico"
                                                    value="{{ Adicionar.id }}">
                                                {%endif%}

                                                <input type="hidden" id="numero_peca" name="numero_peca"
                                                    value="{{ Peca.id }}">


                                                {% if AdicionarCombo %}
                                                <input type="submit"
                                                    onclick="enviarFormularioCombo('{{ Peca.id }}', event)"
                                                    class="cor-ok" value="Adicionar ao Combo">
                                                {% else %}
                                                <input type="submit" onclick="enviarFormulario('{{ Peca.id }}', event)"
                                                    class="cor-ok" value="Adicionar ao Servico">
                                                {%endif%}

                                            </form>
                                    </div>
                                    {% else %}
                                    <div class="button-container">
                                        {%if session["nivel"] >= 4%}
                                        <a href="#"><input type="submit"
                                                onclick="showDiv('Pecas', '{{Peca.id}}', '{{Peca.nome}}')"
                                                class="cor-cancelar" value="Apagar"></a>
                                        {%else%}
                                        {%endif%}

                                        <a href="{{url_for('atulizPecas', id=Peca.id)}}"><input type="submit"
                                                class="cor-alerta" name="" value="Editar"></a>
                                    </div>
                                    {% endif %}
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% if AdicionarCombo %}
<div class="pagination">
    {% if Pecas.has_prev %}
    {% if busca %}
    <form action="{{ url_for('searchPecasAdicionarCombo',id=AdicionarCombo.id, page=Pecas.prev_num) }}" method="POST">
        <input value="{{ busca }}" type="hidden" id="searchinput" name="search_string">
        <input value="{{ escolha }}" type="hidden" id="searchselector" name="searchselector">
        <button type="submit">&lt;</button>
    </form>
    {% else %}
    <a href="{{ url_for('EscolhaPecasCombo',id=AdicionarCombo.id, page=Pecas.prev_num) }}">&lt;</a>
    {% endif %}
    {% endif %}
    {% if Pecas.total > 10 %}
    {% for page_num in Pecas.iter_pages(left_edge=0, right_edge=1, left_current=1, right_current=1) %}
    {% if page_num %}
    {% if Pecas.page == page_num %}
    {%if busca %}
    <form action="{{ url_for('searchPecasAdicionarCombo',id=AdicionarCombo.id, page=page_num) }}" method="POST">
        <input value="{{ busca }}" type="hidden" id="searchinput" name="search_string">
        <input value="{{ escolha }}" type="hidden" id="searchselector" name="searchselector">
        <button class="paginationActive" type="submit">{{ page_num }}</button>
    </form>
    {% else %}
    <a class="paginationActive" href="{{ url_for('EscolhaPecasCombo',id=AdicionarCombo.id, page=page_num) }}">{{
        page_num }}</a>
    {% endif %}
    {% else %}
    {%if busca %}
    <form action="{{ url_for('searchPecasAdicionarCombo',id=AdicionarCombo.id, page=page_num) }}" method="POST">
        <input value="{{ busca }}" type="hidden" id="searchinput" name="search_string">
        <input value="{{ escolha }}" type="hidden" id="searchselector" name="searchselector">
        <button type="submit">{{ page_num }}</button>
    </form>
    {% else %}
    <a href="{{ url_for('EscolhaPecasCombo',id=AdicionarCombo.id, page=page_num) }}">{{ page_num }}</a>
    {% endif %}
    {% endif %}
    {% endif %}
    {% endfor %}
    {% endif %}
    {% if Pecas.has_next %}
    {% if busca %}
    <form action="{{ url_for('searchPecasAdicionarCombo',id=AdicionarCombo.id, page=Pecas.next_num) }}" method="POST">
        <input value="{{ busca }}" type="hidden" id="searchinput" name="search_string">
        <input value="{{ escolha }}" type="hidden" id="searchselector" name="searchselector">
        <button type="submit">&gt;</button>
    </form>
    {% else %}
    <a href="{{ url_for('EscolhaPecasCombo',id=AdicionarCombo.id, page=Pecas.next_num) }}">&gt;</a>
    {% endif %}
    {% endif %}
</div>
{% else %}
<div class="pagination">
    {% if Pecas.has_prev %}
    {% if Adicionar %}
    {% if busca %}
    <form action="{{ url_for('searchPecasAdicionar', page=Pecas.prev_num) }}" method="POST">
        <input type="hidden" name="id" value="{{ Adicionar.id }}" style="display: none;">
        <input value="{{ busca }}" type="hidden" id="searchinput" name="search_string">
        <input value="{{ escolha }}" type="hidden" id="searchselector" name="searchselector">
        <button type="submit">&lt;</button>
    </form>
    {%else%}
    <a href="{{ url_for('EscolhaPecas',id=Adicionar.id, page=Pecas.next_num) }}">&lt;</a>
    {% endif %}
    {% else %}
    {% if busca %}
    <form action="{{ url_for('searchPecas', page=Pecas.next_num) }}" method="POST">
        <input value="{{ busca }}" type="hidden" id="searchinput" name="search_string">
        <input value="{{ escolha }}" type="hidden" id="searchselector" name="searchselector">
        <button type="submit">&lt;</button>
    </form>
    {%else%}
    <a href="{{ url_for('Pecas', page=Pecas.prev_num) }}">&lt;</a>
    {% endif %}
    {% endif %}
    {% endif %}
    {% if Pecas.total > 10 %}
    {% for page_num in Pecas.iter_pages(left_edge=0, right_edge=1, left_current=1, right_current=1) %}
    {% if page_num %}
    {% if Pecas.page == page_num %}
    {% if Adicionar %}
    {%if busca %}
    <form action="{{ url_for('searchPecasAdicionar', page=page_num) }}" method="POST">
        <input type="hidden" name="id" value="{{ Adicionar.id }}" style="display: none;">
        <input value="{{ busca }}" type="hidden" id="searchinput" name="search_string">
        <input value="{{ escolha }}" type="hidden" id="searchselector" name="searchselector">
        <button class="paginationActive" type="submit">{{ page_num }}</button>
    </form>
    {%else%}
    <a class="paginationActive" href="{{ url_for('EscolhaPecas',id=Adicionar.id, page=page_num) }}">{{ page_num }}</a>
    {% endif %}
    {% else %}
    {% if busca %}
    <form action="{{ url_for('searchPecas', page=page_num) }}" method="POST">
        <input value="{{ busca }}" type="hidden" id="searchinput" name="search_string">
        <input value="{{ escolha }}" type="hidden" id="searchselector" name="searchselector">
        <button class="paginationActive" type="submit">{{ page_num }}</button>
    </form>
    {%else%}
    <a class="paginationActive" href="{{ url_for('Pecas', page=page_num) }}">{{ page_num }}</a>
    {% endif %}
    {% endif %}
    {% else %}
    {% if Adicionar %}
    {%if busca %}
    <form action="{{ url_for('searchPecasAdicionar', page=page_num) }}" method="POST">
        <input type="hidden" name="id" value="{{ Adicionar.id }}" style="display: none;">
        <input value="{{ busca }}" type="hidden" id="searchinput" name="search_string">
        <input value="{{ escolha }}" type="hidden" id="searchselector" name="searchselector">
        <button type="submit">{{ page_num }}</button>
    </form>
    {%else%}
    <a href="{{ url_for('EscolhaPecas',id=Adicionar.id, page=page_num) }}">{{ page_num }}</a>
    {% endif %}
    {% else %}
    {% if busca %}
    <form action="{{ url_for('searchPecas', page=page_num) }}" method="POST">
        <input value="{{ busca }}" type="hidden" id="searchinput" name="search_string">
        <input value="{{ escolha }}" type="hidden" id="searchselector" name="searchselector">
        <button type="submit">{{ page_num }}</button>
    </form>
    {%else%}
    <a href="{{ url_for('Pecas', page=page_num) }}">{{ page_num }}</a>
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}
    {% endfor %}
    {% endif %}
    {% if Pecas.has_next %}
    {% if Adicionar %}
    {% if busca %}
    <form action="{{ url_for('searchPecasAdicionar', page=Pecas.next_num) }}" method="POST">
        <input type="hidden" name="id" value="{{ Adicionar.id }}" style="display: none;">
        <input value="{{ busca }}" type="hidden" id="searchinput" name="search_string">
        <input value="{{ escolha }}" type="hidden" id="searchselector" name="searchselector">
        <button type="submit">&gt;</button>
    </form>
    {%else%}
    <a href="{{ url_for('EscolhaPecas',id=Adicionar.id, page=Pecas.next_num) }}">&gt;</a>
    {% endif %}
    {% else %}
    {% if busca %}
    <form action="{{ url_for('searchPecas', page=Pecas.next_num) }}" method="POST">
        <input value="{{ busca }}" type="hidden" id="searchinput" name="search_string">
        <input value="{{ escolha }}" type="hidden" id="searchselector" name="searchselector">
        <button type="submit">&gt;</button>
    </form>
    {%else%}
    <a href="{{ url_for('Pecas', page=Pecas.next_num) }}">&gt;</a>
    {% endif %}
    {% endif %}
    {% endif %}
</div>
{%endif%}

{% endblock content %}