{% extends 'NavAdimin.html' %}

{% block content %}
<h2 class="cabeçario-pagina">{{status}}</h2>
{% if Servico.id == 0 %}
<div style="background-color: aliceblue; font-size: 20px; display: inline-block; border-radius: 20px; padding: 10px;">
    <strong>EDITANDO: </strong>{{ Servico.editor_finalizado_id }}
</div>
{%else%}
<div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
    <div
        style="background-color: aliceblue; font-size: 20px; display: inline-block; border-radius: 20px; padding: 10px;">
        <strong>ID: </strong>{{ Servico.id }}
    </div>
    <a class="download-button" href="{{url_for('generate_pdf', id=Servico.id)}}">
        <span>Baixar PDF</span>
        <i class=" fas fa-download"></i>
    </a>
</div>
{%endif%}
<input type="hidden" name="Ser_id" id="Ser_id" value="{{ Servico.id }}">
<div id="MensagemServico" class="retira"></div>
<div class="DadosClienteServico">
    <fieldset class="containerForm">
        <div class="header toggleButton">
            <div class="divCentro">
                <legend>Dados do Cliente</legend>
                <span style="font-size: 80%;">(Dados Obrigatorios)</span>
            </div>
            <span class="arrow">▼</span>
        </div>
        <div class="containerDados hidden">
            {% if status == 'Finalizado' %}
            {%else%}
            <div style="padding: 5px;">
                <a href="{{url_for('EscolhaCliente', id=Servico.id)}}">
                    <input type="submit" class="cor-ok" name="" value="Adicionar Cliente Cadastrado">
                </a>
            </div>
            {%endif%}
            {%if Servico.cliente_os_id > 0%}
            <span>ID do Cliente : <h3>{{Servico.cliente_os.id}}</h3></span>
            <label for="clientName">Nome do Cliente:</label>
            {% if Servico.cliente_os.nomeFantasia %}
            <input type="text" id="clientName" name="clientName" value="{{Servico.cliente_os.nomeFantasia}}" required
                disabled>
            {% else %}
            <input type="text" id="clientName" name="clientName" value="{{Servico.cliente_os.nome}}" required disabled>
            {% endif %}
            <label for="telefone">Telefone:</label>
            <input type="text" id="telefone" name="telefone" value="{{Servico.cliente_os.fone}}" required disabled>

            <label for="email">Email:</label>
            <input type="text" class="anular" id="email" name="email" value="{{Servico.cliente_os.email}}" required
                disabled>

            {%else%}
            <label for="clientName">Nome do Cliente:</label>
            <input type="text" id="clientName" name="clientName" value="{{nome_cliente_os}}" required>

            <label for="telefone">Telefone:</label>
            <input type="text" id="telefone" name="telefone" value="{{nome_telefone_os}}" required>

            <label for="email">Email:</label>
            <input type="text" class="anular" id="email" name="email" value="{{nome_email_os}}" required>
            {%endif%}
        </div>
    </fieldset>
    <fieldset class="containerForm">
        <div class="header toggleButton">
            <div class="divCentro">
                <legend>Dados do Carro</legend>
                <span style="font-size: 80%;">(Dados Obrigatorios)</span>
            </div>
            <span class="arrow">▼</span>
        </div>
        <div class="containerDados hidden">
            {%if Servico.cliente_os_id == 0%}
            {%else%}
            {% if status == 'Finalizado' %}
            {%else%}
            <form action="/EscolhaVeiculo/{{ Servico.id }}/{{Servico.cliente_os.id}}" method="POST">
                <input type="hidden" name="_method" value="ADICIONAR">
                <input type="submit" class="cor-ok" value="Adicionar Carro">
            </form>
            {%endif%}
            {%endif%}
            {%if Servico.veiculo_os_id > 0%}
            <label for="licensePlate">Placa do Carro:</label>
            <input type="text" id="licensePlate" name="licensePlate" value="{{Servico.veiculo_os.placa}}" disabled>

            <label for="carBrand">Marca do Carro:</label>
            <input type="text" id="carBrand" name="carBrand" value="{{Servico.veiculo_os.carro.marca}}" disabled>

            <label for="carModel">Modelo do Carro:</label>
            <input type="text" id="carModel" name="carModel" value="{{Servico.veiculo_os.carro.modelo}}" disabled>

            <label for="carYear">Ano do Carro:</label>
            <input type="text" id="carYear" name="carYear" value="{{Servico.veiculo_os.carro.ano}}" disabled>

            <label for="carEngine">Motor do Carro:</label>
            <input type="text" id="carEngine" name="carEngine" value="{{Servico.veiculo_os.carro.motor}}" disabled>

            <label for="carEngine">KM do Carro:</label>
            {%if status == 'Finalizado' or status == 'Editar Finazados'%}
            <input type="text" id="carEngine" name="carEngine" value="{{Servico.km_final}}" disabled>
            {%else%}
            <input type="text" id="carEngine" name="carEngine" value="{{Servico.veiculo_os.km}}" disabled>
            {% endif %}
            {% else %}
            <label for="placa">Placa do Carro:</label>
            <input type="text" id="placa" name="placa" value="{{placa}}">

            <label for="Ser_marca">Marca do Carro:</label>
            <input type="text" id="Ser_marca" name="Ser_marca" value="{{marca}}">

            <label for="Ser_modelo">Modelo do Carro:</label>
            <input type="text" id="Ser_modelo" name="Ser_modelo" value="{{modelo}}">

            <label for="Ser_ano">Ano do Carro:</label>
            <input type="text" id="Ser_ano" name="Ser_ano" value="{{ano}}">

            <label for="Ser_motor">Motor do Carro:</label>
            <input type="text" id="Ser_motor" name="Ser_motor" value="{{motor}}">
            <label for="km">KM do Carro:</label>
            <input type="number" id="km" name="km" value="{{km}}">
            {% endif %}
        </div>
    </fieldset>
</div>
<div class="product-table">
    <table class="product-table">
        <thead>
            <tr>
                <th style="background-color: #444343; font-size: 120%;">Dados do Orçamento</th>
            </tr>
        </thead>

        <tbody>

            {% if status == 'Finalizado' %}
            {%else%}
            <tr>
                <th>
                    <div style="display: flex; justify-content: space-between;">
                        <div style="padding: 5px;">
                            <a href="{{url_for('EscolhaMDO', id=Servico.id)}}" onclick="return validarCampos();">
                                <input type="submit" class="cor-ok" name="" value="Add Mão/De/Obra">
                            </a>
                        </div>
                        <div style="padding: 5px;">
                            <a href="{{url_for('AddItensManual', id=Servico.id)}}" onclick="return validarCampos();">
                                <input type="submit" class="cor-ok" name="" value="Add Manualmente">
                            </a>
                        </div>
                        <div style="padding: 5px;">
                            <a href="{{url_for('AbriCombosSevico', id=Servico.id)}}" onclick="return validarCampos();">
                                <input type="submit" class="cor-ok" name="" value="Add Combo">
                            </a>
                        </div>
                        <div style="padding: 5px;">
                            <a href="{{url_for('EscolhaPecas', id=Servico.id)}}" onclick="return validarCampos();">
                                <input type="submit" class="cor-ok" name="" value="Add Peças">
                            </a>
                        </div>
                    </div>
                </th>
            </tr>
            {%endif%}

            {% if items_data_pecas %}
            {% for item_peca in items_data_pecas %}
            <tr>
                <td>
                    <fieldset class="containerForm" style="cursor: pointer;">
                        <div class="peca-Nome toggleButton">
                            <p></p>
                            <div><strong>{{ loop.index }}&rpar; Nome:</strong><span>{{ item_peca.nome
                                    }}</span><span class="arrow">▼</span>
                            </div>
                        </div>
                        <div class="containerDados hidden">
                            <div class="peca-card">
                                <div><strong>Código:</strong>{{ item_peca.codigo }}</div>
                                <hr>
                                <div>
                                    <strong>Unidade:</strong>
                                    {% if status == 'Finalizado' %}
                                    <input class="number-input" data-item-id="{{ loop.index0 }}"
                                        style="text-align: center;width: 50px; font-size: 100%;" type="number" id="un"
                                        name="un" value="{{ item_peca.un }}" min="1" disabled>
                                    {%else%}
                                    <input class="number-input" data-item-id="{{ loop.index0 }}"
                                        style="text-align: center;width: 50px; font-size: 100%;" type="number" id="un"
                                        name="un" value="{{ item_peca.un }}" min="1"
                                        oninput="atualizarQuantidadePecas(this)">
                                    {%endif%}
                                </div>
                                <hr>
                                <div>
                                    <strong>Lado:</strong>
                                    {% if status == 'Finalizado' %}
                                    <p>{{ item_peca.lado }}</p>
                                    {%else%}
                                    <select name="lado" class="semselect2 searchselector lado"
                                        data-item-id="{{ loop.index0 }}" onchange="atualizarLadoPecas(this)">
                                        <option value="{{ item_peca.lado }}" selected>{{ item_peca.lado }}</option>
                                        <option value="S">Sem Lado</option>
                                        <option value="L/D">Direita</option>
                                        <option value="L/E">Esquerda</option>
                                    </select>
                                    {%endif%}
                                </div>
                                <hr>
                                <div><strong>Preço:</strong><span class="precoPeca">{{ item_peca.preso}}</span>
                                </div>
                                <hr>
                                <div class="preco-total" style="color: #008337; font-weight: bold;"><strong
                                        style="color: #000000;">Preço Total:</strong></div>
                                <hr>
                                {% if status == 'Finalizado' %}
                                {%else%}
                                <form action="/apagar_item_pecas/{{ Servico.id }}/{{ loop.index0 }}" method="POST">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="submit" class="cor-cancelar" value="Apagar Item">

                                </form>
                                {%endif%}
                            </div>
                        </div>
                    </fieldset>
                </td>
            </tr>

            {% endfor %}
            {% else %}
            {% endif %}
            <tr>
                <td>
                    <div id="soma_pecas"><strong>Total em Pecas:</strong> R$ 0.00</div>
                </td>
            </tr>
            {% if items_data_MDO %}
            {% for items_MDO in items_data_MDO %}
            <tr>
                <td>
                    <fieldset class="containerForm" style="cursor: pointer;">
                        <div class="peca-Nome toggleButton">
                            <div><strong>{{ loop.index }}&rpar;</strong><span>MÃO DE OBRA</span><span
                                    class="arrow">▼</span>
                            </div>
                        </div>
                        <div class="hidden">
                            <div class="peca-card">
                                <div><strong>Nome:</strong><span>{{ items_MDO.nome }}</span></div>
                                <hr>
                                <div style="color: #008337; font-weight: bold;"><strong
                                        style="color: #000000;">Preço:</strong><span class="precoMDO">
                                        {{items_MDO.preso}}</span></div>
                                <hr>
                                {% if status == 'Finalizado' %}
                                {%else%}
                                <form action="/apagar_item_mos/{{ Servico.id }}/{{ loop.index0 }}" method="POST">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="submit" class="cor-cancelar" value="Apagar Item">
                                </form>
                                {%endif%}
                            </div>
                        </div>
                    </fieldset>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            {% endif %}
            <tr>
                <td>
                    <div id="somaTotal"><strong>Total:</strong> R$ 0.00</div>
                </td>
            </tr>
        </tbody>
    </table>
    <label for="obsSer">Observação:</label>
    {% if status == 'Finalizado' %}
    <p style="font-size: 15px; padding: 5px;">{{Servico.obs}}</p>
    {%else%}
    <textarea id="obsSer" name="obsSer" rows="5" cols="40">{{Servico.obs}}</textarea>
    {%endif%}
</div>
{% if status == 'Finalizado' %}
<div class="botao-add" style="padding: 10px;">
    <a style="border-radius: 10px; padding-left: 5px;padding-right: 5px; color: #000000; text-decoration: none; background-color: #f4f4f4; border: 1px solid #000000; display: inline-block;"
        href="{{url_for('addComboServico', id=Servico.id)}}">Criar Combo da O.S</a>

</div>
{%endif%}

<div style="padding: 20px;">
    {%if session["nivel"] >= 3%}
    {% if status == 'Orçamento' %}
    <a href="{{url_for('aprovarServico', id=Servico.id)}}">
        <input type="submit" style="font-size: 20px;" class="cor-ok" name="" value="APROVAR SERVIÇO">
    </a>
    {%endif%}

    {% if status == 'Aprovado' %}
    <div style="display: flex; justify-content: space-between;">
        <div style="padding: 5px;  width: 50%;">
            {{ form.mecanico.label }} {{ form.mecanico(id="mecanico") }}
        </div>
        <div style="padding: 5px; width: 50%;">
            {{ form.vendedor.label }} {{ form.vendedor(id="vendedor") }}
        </div>
    </div>
    <hr>
    <a href="{{url_for('finalizarServico', id=Servico.id)}}">
        <input type="submit" style="margin: 5px; font-size: 20px;" class="cor-ok" name="" value="FINALIZAR">
    </a>
    {%endif%}

    {%else%}
    {%endif%}
    {% if status == 'Finalizado' %}
    <div style="display: flex; justify-content: space-between;">
        <div style="padding: 1px;  width: 50%;">
            <label>Mecanico:</label>
            <p>{{Servico.mecanico.apelido}}</p>
        </div>
        <div style="padding: 1px; width: 50%;">
            <label>Vendedor:</label>
            <p>{{Servico.vendedor.apelido}}</p>
        </div>
    </div>
    <hr>
    {%if session["nivel"] >= 4%}
    <a href="{{url_for('finalizarEdit', id=Servico.id)}}">
        <input type="submit" style="font-size: 10px;" class="cor-alerta" name="" value="EDITAR">
    </a>
    {%endif%}
    {%endif%}
    {% if status == 'Editar Finazados' %}
    <div style="display: flex; justify-content: space-between;">
        <div style="padding: 5px;  width: 50%;">
            {{ form.mecanico.label }} {{ form.mecanico(id="mecanico") }}
        </div>
        <div style="padding: 5px; width: 50%;">
            {{ form.vendedor.label }} {{ form.vendedor(id="vendedor") }}
        </div>
    </div>
    <hr>
    <div class="div_admistrador">
        <h3>Modificar Finalizado</h3>
        <form action="/finalizarEditVolt/{{Servico.id }}" method="POST">
            <input type="hidden" id="valordaspesas" name="valordaspesas" value="R$ 0,00">
            <input type="hidden" id="valortodos" name="valortodos" value="R$ 0,00">
            <div>
                <div style="background-color: brown; border-radius: 20px;" class="lado-a-lado">
                    <label for="gasto">Valor Gasto:</label>
                    <input type="text" name="gasto" id="gasto" class="inputReais" value="{{Servico.valor_gasto}}">
                </div>
            </div>

            <div style="background-color: green; border-radius: 20px; padding: 5px;">
                {% for items_carteira in items_data_carteira %}
                <div
                    style="border: solid; padding: 2px; text-align: center; border-radius: 10px; border-color: rgb(170, 170, 170);">
                    <div>
                        <label for="carteira">Adicione Carteira:</label>
                        <select class="searchselector" name="carteira" id="carteira"
                            style="width: 80%; height: 30px;font-size: 20pl;border-top-left-radius: 10px;border-top-right-radius: 10px; border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;text-align: center; font-size: 16px;"
                            required>
                            <option style="background-color: #444343;" value="{{items_carteira.carteira_id}}" selected>
                                {{items_carteira.carteira_nome}}
                            </option>
                            {%for carteira in carteiras%}
                            <option value="{{carteira.id}}">{{carteira.nome}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="lado-a-lado">
                        <label for="pago">Valor Pago:</label>
                        <input type="text" name="pago" id="pago" class="inputReais" placeholder="R$ 0,00"
                            value="{{items_carteira.valor_recebido}}" required>
                    </div>
                    <label for="detalesPago">Detale do Pagamento:</label>
                    <input type="text" name="detalesPago" value="{{items_carteira.detalesPago}}" required>
                </div>
                {%endfor%}
            </div>
            <div>
                <label for="kmAtualiza">Adicione o KM:</label>
                <input type="number" name="kmAtualiza" id="kmAtualiza" value="{{Servico.km_final}}" required>
            </div>
            <div style="padding: 0px 0px 0px 0px;" class="lado-a-lado">
                <input type="submit" class="button-grande cor-ok" name="" value="SALVAR">
            </div>
        </form>

        <input type="hidden" id="servico_id" value="{{ Servico.editor_finalizado_id }}">
        <button class="button-pequeno cor-cancelar" id="meuBotao">CANCELAR</button>
    </div>

    {%else%}
    {%endif%}
</div>

<script>
    var modelocarro = document.getElementById("modelocarro");
    var modelocarroconteudoParagrafo = modelocarro.innerHTML;

    var nomecliente = document.getElementById("nomecliente");
    var nomeclienteconteudoParagrafo = nomecliente.innerHTML;

    function redirecionar() {
        var idInput = document.getElementById("servico_id");

        var botao = document.getElementById("meuBotao");

        if (idInput && botao) {
            var id = idInput.value;
            var parametro = "tratatar";
            window.location.href = `/AbrirServico/${id}/${parametro}`;
        }
    }

    var botao = document.getElementById("meuBotao");
    if (botao) {

        setTimeout(function () {
            redirecionar();
        }, 120000);

        botao.addEventListener("click", redirecionar);
        botao.addEventListener("keydown", function (event) {
            if (event.key === "Enter" || event.keyCode === 13) {
                redirecionar();
            }
        });
    }
    function removerUltimaCopia() {
        var adicioneados = document.getElementById("adicioneados");
        var divs = adicioneados.getElementsByTagName("div");
        if (divs.length > 0) {
            adicioneados.removeChild(divs[divs.length - 1]);
        }
    }

    function CriarPDF() {

        var notasFiscais = document.querySelectorAll('.nota-servico');
        var element = document.createElement('div');
        var estilosOriginais = [];
        notasFiscais.forEach(function (notaFiscal) {
            estilosOriginais.push({ element: notaFiscal, display: notaFiscal.style.display });

            notaFiscal.style.display = 'block';
            element.appendChild(notaFiscal.cloneNode(true));
        });


        html2pdf(element, {
            margin: 0,
            filename: nomeclienteconteudoParagrafo + ' ' + modelocarroconteudoParagrafo + '.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 2 },
            jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' },
        });


        estilosOriginais.forEach(function (estiloOriginal) {
            estiloOriginal.element.style.display = estiloOriginal.display;
        });

    }

</script>
{% endblock content %}