{% extends 'NavAdimin.html' %}

{% block content %}
<h2 class="cabeçario-pagina">{{status}}</h2>
{% if Servico.id == 0 %}
<div style="background-color: aliceblue; font-size: 20px; display: inline-block; border-radius: 20px; padding: 10px;">
    <strong>EDITANDO: </strong>{{ Servico.editor_finalizado_id }}
</div>
{%else%}
<div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
    <div
        style="background-color: aliceblue; font-size: 20px; display: inline-block; border-radius: 20px; padding: 10px;">
        <strong>ID: </strong>{{ Servico.id }}
    </div>
    <a class="download-button" href="{{url_for('generate_pdf', id=Servico.id)}}">
        <span>Baixar PDF</span>
        <i class=" fas fa-download"></i>
    </a>
</div>

{% if registros_preservados.status %}
{% if registros_preservados.status == 'ESPERANDO' %}
<div class="registroForm">
    <label for="statusServ">Status:</label>
    <p>Esperanndo Liberação</p>
</div>
{% elif registros_preservados.status == 'AGUARDANDO' %}
<div class="registroForm">
    <label for="statusServ">Status:</label>
    <p>Aguardando Aprovação</p>
</div>
{% else %}
<div class="registroForm">
    <label for="statusServ">Status:</label>
    <select class="searchselector" name="statusServ" id="statusServ"
        style="width: 100%; padding: 10px; border: 2px solid #4CAF50; border-radius: 5px; background-color: #f9f9f9;">
        <option value="{{ registros_preservados.nome }}" selected>{{ registros_preservados.status }}</option>
        <option value="Em Serviço">Em Serviço</option>
        <option value="Aguardando Peças">Aguardando Peças</option>
        <option value="Finalizado">Finalizado</option>
        <option value="Entregue">Entregue</option>
    </select>
</div>
{% endif %}
{%endif%}
{%endif%}
<input type="hidden" name="Ser_id" id="Ser_id" value="{{ Servico.id }}">
<div id="MensagemServico" class="retira"></div>
<div class="DadosClienteServico">
    <fieldset class="containerForm">
        <div class="header toggleButton">
            <div class="divCentro">
                <legend>Dados do Cliente</legend>
                <span style="font-size: 80%;">(Dados Obrigatorios)</span>
            </div>
            <span class="arrow">▼</span>
        </div>
        <div class="containerDados hidden">
            {% if status == 'Finalizado' %}
            {%else%}
            <div style="padding: 5px;">
                <a href="{{url_for('EscolhaCliente', id=Servico.id)}}">
                    <input type="submit" class="cor-ok" name="" value="Adicionar Cliente Cadastrado">
                </a>
            </div>
            {%endif%}
            {%if Servico.cliente_os_id > 0%}
            <span>ID do Cliente : <h3>{{Servico.cliente_os.id}}</h3></span>
            <label for="clientName">Nome do Cliente:</label>
            {% if Servico.cliente_os.nomeFantasia %}
            <input type="text" id="clientName" name="clientName" value="{{Servico.cliente_os.nomeFantasia}}" required
                disabled>
            {% else %}
            <input type="text" id="clientName" name="clientName" value="{{Servico.cliente_os.nome}}" required disabled>
            {% endif %}
            <label for="telefone">Telefone:</label>
            <input type="text" id="telefone" name="telefone" value="{{Servico.cliente_os.fone}}" required disabled>

            <label for="email">Email:</label>
            <input type="text" class="anular" id="email" name="email" value="{{Servico.cliente_os.email}}" required
                disabled>

            {%else%}
            <label for="clientName">Nome do Cliente:</label>
            <input type="text" id="clientName" name="clientName" value="{{nome_cliente_os}}" required>

            <label for="telefone">Telefone:</label>
            <input type="text" id="telefone" name="telefone" value="{{nome_telefone_os}}" required>

            <label for="email">Email:</label>
            <input type="text" class="anular" id="email" name="email" value="{{nome_email_os}}" required>
            {%endif%}
        </div>
    </fieldset>
    <fieldset class="containerForm">
        <div class="header toggleButton">
            <div class="divCentro">
                <legend>Dados do Carro</legend>
                <span style="font-size: 80%;">(Dados Obrigatorios)</span>
            </div>
            <span class="arrow">▼</span>
        </div>
        <div class="containerDados hidden">
            {%if Servico.cliente_os_id == 0%}
            {%else%}
            {% if status == 'Finalizado' %}
            {%else%}
            <form action="/EscolhaVeiculo/{{ Servico.id }}/{{Servico.cliente_os.id}}" method="POST">
                <input type="hidden" name="_method" value="ADICIONAR">
                <input type="submit" class="cor-ok" value="Adicionar Carro">
            </form>
            {%endif%}
            {%endif%}
            {%if Servico.veiculo_os_id > 0%}
            <label for="licensePlate">Placa do Carro:</label>
            <input type="text" id="licensePlate" name="licensePlate" value="{{Servico.veiculo_os.placa}}" disabled>

            <label for="carBrand">Marca do Carro:</label>
            <input type="text" id="carBrand" name="carBrand" value="{{Servico.veiculo_os.carro.marca}}" disabled>

            <label for="carModel">Modelo do Carro:</label>
            <input type="text" id="carModel" name="carModel" value="{{Servico.veiculo_os.carro.modelo}}" disabled>

            <label for="carYear">Ano do Carro:</label>
            <input type="text" id="carYear" name="carYear" value="{{Servico.veiculo_os.carro.ano}}" disabled>

            <label for="carEngine">Motor do Carro:</label>
            <input type="text" id="carEngine" name="carEngine" value="{{Servico.veiculo_os.carro.motor}}" disabled>

            <label for="carEngine">KM do Carro:</label>
            {%if status == 'Finalizado' or status == 'Editar Finazados'%}
            <input type="text" id="carEngine" name="carEngine" value="{{Servico.km_final}}" disabled>
            {%else%}
            <input type="text" id="carEngine" name="carEngine" value="{{Servico.veiculo_os.km}}" disabled>
            {% endif %}
            {% else %}
            <label for="placa">Placa do Carro:</label>
            <input type="text" id="placa" name="placa" value="{{placa}}">

            <label for="Ser_marca">Marca do Carro:</label>
            <input type="text" id="Ser_marca" name="Ser_marca" value="{{marca}}">

            <label for="Ser_modelo">Modelo do Carro:</label>
            <input type="text" id="Ser_modelo" name="Ser_modelo" value="{{modelo}}">

            <label for="Ser_ano">Ano do Carro:</label>
            <input type="text" id="Ser_ano" name="Ser_ano" value="{{ano}}">

            <label for="Ser_motor">Motor do Carro:</label>
            <input type="text" id="Ser_motor" name="Ser_motor" value="{{motor}}">
            <label for="km">KM do Carro:</label>
            <input type="number" id="km" name="km" value="{{km}}">
            {% endif %}
        </div>
    </fieldset>
</div>
<div class="product-table">
    <table class="product-table">
        <thead>
            <tr>
                <th style="background-color: #444343; font-size: 120%;">Dados do Orçamento</th>
            </tr>
        </thead>

        <tbody>

            {% if status == 'Finalizado' %}
            {%else%}
            <tr>
                <th>
                    <div style="display: flex; justify-content: space-between;">
                        <div style="padding: 5px;">
                            <a href="{{url_for('EscolhaMDO', id=Servico.id)}}" onclick="return validarCampos();">
                                <input type="submit" class="cor-ok" name="" value="Add Mão/De/Obra">
                            </a>
                        </div>
                        <div style="padding: 5px;">
                            <a href="{{url_for('AddItensManual', id=Servico.id)}}" onclick="return validarCampos();">
                                <input type="submit" class="cor-ok" name="" value="Add Manualmente">
                            </a>
                        </div>
                        <div style="padding: 5px;">
                            <a href="{{url_for('AbriCombosSevico', id=Servico.id)}}" onclick="return validarCampos();">
                                <input type="submit" class="cor-ok" name="" value="Add Combo">
                            </a>
                        </div>
                        <div style="padding: 5px;">
                            <a href="{{url_for('EscolhaPecas', id=Servico.id)}}" onclick="return validarCampos();">
                                <input type="submit" class="cor-ok" name="" value="Add Peças">
                            </a>
                        </div>
                    </div>
                </th>
            </tr>
            {%endif%}

            {% if items_data_pecas %}
            {% for item_peca in items_data_pecas %}
            <tr>
                <td>
                    <fieldset class="containerForm" style="cursor: pointer;">
                        <div class="peca-Nome toggleButton">
                            <p></p>
                            <div><strong>{{ loop.index }}&rpar; Nome:</strong><span>{{item_peca.nome}}</span><span
                                    class="arrow">▼</span>
                            </div>
                        </div>
                        <div class="containerDados hidden">
                            <div class="peca-card">
                                <div><strong>Código:</strong>{{ item_peca.codigo }}</div>
                                <hr>
                                <div>
                                    <strong>Unidade:</strong>
                                    {% if status == 'Finalizado' %}
                                    <input class="number-input" data-item-id="{{ loop.index0 }}"
                                        style="text-align: center;width: 50px; font-size: 100%;" type="number" id="un"
                                        name="un" value="{{ item_peca.un }}" min="1" disabled>
                                    {%else%}
                                    <input class="number-input" data-item-id="{{ loop.index0 }}"
                                        style="text-align: center;width: 50px; font-size: 100%;" type="number" id="un"
                                        name="un" value="{{ item_peca.un }}" min="1"
                                        oninput="atualizarQuantidadePecas(this)">
                                    {%endif%}
                                </div>
                                <hr>
                                <div>
                                    <strong>Lado:</strong>
                                    {% if status == 'Finalizado' %}
                                    <p>{{ item_peca.lado }}</p>
                                    {%else%}
                                    <select name="lado" class="semselect2 searchselector lado"
                                        data-item-id="{{ loop.index0 }}" onchange="atualizarLadoPecas(this)">
                                        <option value="{{ item_peca.lado }}" selected>{{ item_peca.lado }}</option>
                                        <option value="S">Sem Lado</option>
                                        <option value="L/D">Direita</option>
                                        <option value="L/E">Esquerda</option>
                                    </select>
                                    {%endif%}
                                </div>
                                <hr>
                                <div><strong>Preço:</strong><span class="precoPeca">{{ item_peca.preso}}</span>
                                </div>
                                <hr>
                                <div class="preco-total" style="color: #008337; font-weight: bold;"><strong
                                        style="color: #000000;">Preço Total:</strong></div>
                                <hr>
                                {% if status == 'Finalizado' %}
                                {%else%}
                                <form action="/apagar_item_pecas/{{ Servico.id }}/{{ loop.index0 }}" method="POST">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="submit" class="cor-cancelar" value="Apagar Item">

                                </form>
                                {%endif%}
                            </div>
                        </div>
                    </fieldset>
                </td>
            </tr>

            {% endfor %}
            {% else %}
            {% endif %}
            <tr>
                <td>
                    <div id="soma_pecas"><strong>Total em Pecas:</strong> R$ 0.00</div>
                </td>
            </tr>
            {% if items_data_MDO %}
            {% for items_MDO in items_data_MDO %}
            <tr>
                <td>
                    <fieldset class="containerForm" style="cursor: pointer;">
                        <div class="peca-Nome toggleButton">
                            <div><strong>{{ loop.index }}&rpar;</strong><span>MÃO DE OBRA</span><span
                                    class="arrow">▼</span>
                            </div>
                        </div>
                        <div class="hidden">
                            <div class="peca-card">
                                <div><strong>Nome:</strong><span>{{ items_MDO.nome }}</span></div>
                                <hr>
                                <div style="color: #008337; font-weight: bold;"><strong
                                        style="color: #000000;">Preço:</strong><span class="precoMDO">
                                        {{items_MDO.preso}}</span></div>
                                <hr>
                                {% if status == 'Finalizado' %}
                                {%else%}
                                <form action="/apagar_item_mos/{{ Servico.id }}/{{ loop.index0 }}" method="POST">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="submit" class="cor-cancelar" value="Apagar Item">
                                </form>
                                {%endif%}
                            </div>
                        </div>
                    </fieldset>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            {% endif %}
            <tr>
                <td>
                    <div id="somaTotal"><strong>Total:</strong> R$ 0.00</div>
                </td>
            </tr>
        </tbody>
    </table>
    <label for="obsSer">Observação:</label>
    {% if status == 'Finalizado' %}
    <p style="font-size: 15px; padding: 5px;">{{Servico.obs}}</p>
    {%else%}
    <textarea id="obsSer" name="obsSer" rows="5" cols="40">{{Servico.obs}}</textarea>
    {%endif%}
</div>
<fieldset class="containerForm">
    <input type="hidden" name="Ser_id" id="Ser_id" value="{{ Servico.id }}">
    <div class="header toggleButton">
        <div class="divCentro">
            <legend>Dados de Aprovação e Preservação</legend>
        </div>
        <span class="arrow">▼</span>
    </div>
    <div class="containerDados hidden">
        <h4>Registro de Avarias do Veículo</h4>
        <div style="background-color: #ffffff; border-radius: 10px;">
            <div style="border: solid 1px; border-radius: 10px;">
                <label for="">Fotos do Veículo:</label>
                <div id="images-container-carro">
                    {% if preservados_img and preservados_img.images_carro %}
                    {% for img_carro in preservados_img.images_carro %}
                    <div class="file-input">
                        <input type="file" name="images_carro_{{ loop.index }}" id="images_carro_{{ loop.index }}"
                            onclick="openFileInputAprovar({{ loop.index }},'images_carro')" accept="image/*">
                        <label for="images_carro_{{ loop.index }}">Editar</label>
                        <img id="preview-image-carro-{{ loop.index }}"
                            src="{{ url_for('static', filename='preservados/' ~ img_carro) }}" alt=""
                            onclick="subFileInputAprovar({{ loop.index }}, 'images_carro')">
                        <button
                            onclick="removeInputAprovar('{{ img_carro }}','images_carro_{{ loop.index }}','images_carro')"
                            style="
                                                        background-color: #f44336; 
                                                        color: white; 
                                                        border: none; 
                                                        padding: 5px 5px; 
                                                        text-align: center; 
                                                        text-decoration: none; 
                                                        display: inline-block; 
                                                        font-size: 14px; 
                                                        margin: 4px 2px; 
                                                        cursor: pointer; 
                                                        border-radius: 8px; 
                                                        transition: background-color 0.3s;
                                                    " onmouseover="this.style.backgroundColor='#d32f2f'"
                            onmouseout="this.style.backgroundColor='#f44336'">
                            <i class="fas fa-trash-alt" style="margin-right: 8px;"></i> Remover
                        </button>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <button class="button-pequeno cor-ok" onclick="addImageInputAprovar('images_carro')">
                    <i class="fas fa-camera"></i> Adicionar Foto
                </button>
            </div>
            <br><br>

            <div style="border: solid 1px; border-radius: 10px;">
                <label for="">Video do Veículo:</label>
                <div id="videos-container-carro">
                    {% if preservados_img and preservados_img.videos_carro %}
                    {% for video_carro in preservados_img.videos_carro %}
                    <div class="file-input">
                        <input type="file" name="videos_carro_{{ loop.index }}" id="videos_carro_{{ loop.index }}"
                            onclick="openFileInputAprovar({{ loop.index }},'videos_carro')" accept="video/*">
                        <label for="videos_carro_{{ loop.index }}">Editar</label>
                        <video id="preview-video-carro-{{ loop.index }}" controls
                            src="{{ url_for('static', filename='preservados/' ~ video_carro) }}" type="video/mp4">

                        </video>
                        <button
                            onclick="removeInputAprovar('{{ video_carro }}','videos_carro_{{ loop.index }}','videos_carro')"
                            style="
                                                                            background-color: #f44336; 
                                                                            color: white; 
                                                                            border: none; 
                                                                            padding: 5px 5px; 
                                                                            text-align: center; 
                                                                            text-decoration: none; 
                                                                            display: inline-block; 
                                                                            font-size: 14px; 
                                                                            margin: 4px 2px; 
                                                                            cursor: pointer; 
                                                                            border-radius: 8px; 
                                                                            transition: background-color 0.3s;
                                                                        "
                            onmouseover="this.style.backgroundColor='#d32f2f'"
                            onmouseout="this.style.backgroundColor='#f44336'">
                            <i class="fas fa-trash-alt" style="margin-right: 8px;"></i> Remover
                        </button>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <button class="button-pequeno cor-alerta" onclick="addImageInputAprovar('videos_carro')">
                    <i class="fas fa-video"></i> Adicionar Vídeo
                </button>
            </div>
            <div class="registroForm">
                <label for="descricao">Descrição:</label>
                <textarea id="descricao" name="descricao" rows="5"
                    cols="40">{{registros_preservados.descricao}}</textarea><br>
            </div>
        </div>
        <br><br>
        <h4>Registro do Serviço</h4>
        <div style="background-color: #ffffff; border-radius: 10px;">
            <div style="border: solid 1px; border-radius: 10px;">
                <label for="">Fotos do Serviço:</label>
                <div id="images-container-serviso">
                    {% if preservados_img and preservados_img.images_serviso %}
                    {% for img_serviso in preservados_img.images_serviso %}
                    <div class="file-input">
                        <input type="file" name="images_serviso_{{ loop.index }}" id="images_serviso_{{ loop.index }}"
                            onclick="openFileInputAprovar({{ loop.index }},'images_serviso')" accept="image/*">
                        <label for="images_serviso_{{ loop.index }}">Editar</label>
                        <img id="preview-image-serviso-{{ loop.index }}"
                            src="{{ url_for('static', filename='preservados/' ~ img_serviso) }}" alt=""
                            onclick="subFileInputAprovar({{ loop.index }}, 'images_serviso')">
                        <button
                            onclick="removeInputAprovar('{{ img_serviso }}','images_serviso_{{ loop.index }}','images_serviso')"
                            style="
                                                                            background-color: #f44336; 
                                                                            color: white; 
                                                                            border: none; 
                                                                            padding: 5px 5px; 
                                                                            text-align: center; 
                                                                            text-decoration: none; 
                                                                            display: inline-block; 
                                                                            font-size: 14px; 
                                                                            margin: 4px 2px; 
                                                                            cursor: pointer; 
                                                                            border-radius: 8px; 
                                                                            transition: background-color 0.3s;
                                                                        "
                            onmouseover="this.style.backgroundColor='#d32f2f'"
                            onmouseout="this.style.backgroundColor='#f44336'">
                            <i class="fas fa-trash-alt" style="margin-right: 8px;"></i> Remover
                        </button>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <button class="button-pequeno cor-ok" onclick="addImageInputAprovar('images_serviso')">
                    <i class="fas fa-camera"></i> Adicionar Foto
                </button>
            </div>
            <br><br>

            <div style="border: solid 1px; border-radius: 10px;">
                <label for="">Video do Serviço:</label>
                <div id="videos-container-serviso">
                    {% if preservados_img and preservados_img.videos_serviso %}
                    {% for video_serviso in preservados_img.videos_serviso %}
                    <div class="file-input">
                        <input type="file" name="videos_serviso_{{ loop.index }}" id="videos_serviso_{{ loop.index }}"
                            onclick="openFileInputAprovar({{ loop.index }},'videos_serviso')" accept="video/*">
                        <label for="videos_serviso_{{ loop.index }}">Editar</label>

                        <video id="preview-video-serviso-{{ loop.index }}" controls
                            src="{{ url_for('static', filename='preservados/' ~ video_serviso) }}" type="video/mp4">
                        </video>
                        <button
                            onclick="removeInputAprovar('{{ video_serviso }}','videos_serviso_{{ loop.index }}','videos_serviso')"
                            style="
                                                                                                background-color: #f44336; 
                                                                                                color: white; 
                                                                                                border: none; 
                                                                                                padding: 5px 5px; 
                                                                                                text-align: center; 
                                                                                                text-decoration: none; 
                                                                                                display: inline-block; 
                                                                                                font-size: 14px; 
                                                                                                margin: 4px 2px; 
                                                                                                cursor: pointer; 
                                                                                                border-radius: 8px; 
                                                                                                transition: background-color 0.3s;
                                                                                            "
                            onmouseover="this.style.backgroundColor='#d32f2f'"
                            onmouseout="this.style.backgroundColor='#f44336'">
                            <i class="fas fa-trash-alt" style="margin-right: 8px;"></i> Remover
                        </button>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <button class="button-pequeno cor-alerta" onclick="addImageInputAprovar('videos_serviso')">
                    <i class="fas fa-video"></i> Adicionar Vídeo
                </button>
            </div>
            <div class="registroForm">
                <label for="obsAdicionais">Observações:</label>
                <textarea id="obsAdicionais" name="obsAdicionais" rows="5"
                    cols="40">{{registros_preservados.obs}}</textarea><br>
            </div>
        </div>

        <div class="registroForm">
            <label for="images_token">Imagem de confirmação:</label>
            {% if registros_preservados.image_token %}
            <div class="file-input">
                <input type="file" name="image_1" id="image_1" onchange="previewImage(event, 1)" accept="image/*">
                <label for="image_1">Editar Imagem 1</label>
                <img src="{{url_for('static',filename='preservados/'+ registros_preservados.image_token)}}"
                    id="preview-image-1" src="" alt="Preview Image 1" onclick="openFileInput(1)">
            </div>
            {% else %}
            <div class="file-input">
                <input type="file" name="image_1" id="image_1" onchange="previewImage(event, 1)" accept="image/*">
                <label for="image_1">Editar Imagem</label>
                <img id="preview-image-1" src="{{url_for('static',filename='preservados/foto.jpg')}}" alt=""
                    onclick="openFileInput(1)">
            </div>
            {% endif %}
        </div>

        <label for="modo_aprovado">Modo de Aprovado:</label>
        <h4>{{registros_preservados.modo_aprovado}}<h4></h4><br>
        <h4>{{registros_preservados.token}}<h4></h4><br>
        <h4>{{registros_preservados.data}}<h4></h4><br>
    </div>

</fieldset>
{% if status == 'Aprovado' or status == 'Editar Finazados' %}
<fieldset class="lado-lado containerForm">
    <div style="display: flex; justify-content: space-between;">
        <div style="padding: 5px;  width: 50%;">
            {{ form.mecanico.label }} {{ form.mecanico(id="mecanico") }}
        </div>
        <div style="padding: 5px; width: 50%;">
            {{ form.vendedor.label }} {{ form.vendedor(id="vendedor") }}
        </div>
    </div>
    <hr>
</fieldset>
{%endif%}
{% if status == 'Finalizado' %}
<div style="display: flex; justify-content: space-between;">
    <div style="padding: 1px;  width: 50%;">
        <label>Mecanico:</label>
        <p>{{Servico.mecanico.apelido}}</p>
    </div>
    <div style="padding: 1px; width: 50%;">
        <label>Vendedor:</label>
        <p>{{Servico.vendedor.apelido}}</p>
    </div>
</div>
{%endif%}
{% if status != 'Editar Finazados' %}
<fieldset class="lado-a-lado containerForm">
    <div style="width: 40%; margin-right: 10px; ">
        <a href="{{url_for('servisos',status=Servico.status)}}"><input class="button-grande cor-cancelar" type="button"
                value="VOLTAR"></a>
    </div>

    <div style="width: 100%; margin-right: 10px;">
        {%if session["nivel"] >= 3%}
        {% if status == 'Orçamento' %}
        <a href="{{url_for('aprovarServico', id=Servico.id)}}"><input class="button-grande cor-ok" type="button"
                value="APROVAR SERVIÇO"></a>
        {%endif%}
        {%endif%}
        {%if session["nivel"] >= 4%}
        {% if status == 'Aprovado'%}
        <a href="{{url_for('finalizarServico', id=Servico.id)}}">
            <input type="button" class="button-grande cor-ok" value="FINALIZAR">
        </a>
        {%endif%}
        {%endif%}
        {%if session["nivel"] >= 4%}
        {% if status == 'Finalizado' %}
        <a href="{{url_for('finalizarEdit', id=Servico.id)}}">
            <input type="button" class="button-grande cor-alerta" value="EDITAR">
        </a>
        {%endif%}
        {%endif%}
    </div>
</fieldset>
{%endif%}
{% if status != 'Orçamento' and status != 'Editar Finazados' %}
<div class="botao-add" style="padding: 10px;">
    <a style="border-radius: 10px; padding-left: 5px;padding-right: 5px; color: #000000; text-decoration: none; background-color: #f4f4f4; border: 1px solid #000000; display: inline-block;"
        href="{{url_for('addComboServico', id=Servico.id)}}">Criar Combo da O.S</a>

</div>
{%endif%}
{% if status == 'Editar Finazados' %}

<div class="div_admistrador">
    <h3>Modificar Finalizado</h3>
    <form action="/finalizarEditVolt/{{Servico.id }}" method="POST">
        <input type="hidden" id="valordaspesas" name="valordaspesas" value="R$ 0,00">
        <input type="hidden" id="valortodos" name="valortodos" value="R$ 0,00">
        <div>
            <div style="background-color: brown; border-radius: 20px;" class="lado-a-lado">
                <label for="gasto">Valor Gasto:</label>
                <input type="text" name="gasto" id="gasto" class="inputReais" value="{{Servico.valor_gasto}}">
            </div>
        </div>

        <div style="background-color: green; border-radius: 20px; padding: 5px;">
            {% for items_carteira in items_data_carteira %}
            <div
                style="border: solid; padding: 2px; text-align: center; border-radius: 10px; border-color: rgb(170, 170, 170);">
                <div>
                    <label for="carteira">Adicione Carteira:</label>
                    <select class="searchselector" name="carteira" id="carteira"
                        style="width: 80%; height: 30px;font-size: 20pl;border-top-left-radius: 10px;border-top-right-radius: 10px; border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;text-align: center; font-size: 16px;"
                        required>
                        <option style="background-color: #444343;" value="{{items_carteira.carteira_id}}" selected>
                            {{items_carteira.carteira_nome}}
                        </option>
                        {%for carteira in carteiras%}
                        <option value="{{carteira.id}}">{{carteira.nome}}</option>
                        {%endfor%}
                    </select>
                </div>
                <div class="lado-a-lado">
                    <label for="pago">Valor Pago:</label>
                    <input type="text" name="pago" id="pago" class="inputReais" placeholder="R$ 0,00"
                        value="{{items_carteira.valor_recebido}}" required>
                </div>
                <label for="detalesPago">Detale do Pagamento:</label>
                <input type="text" name="detalesPago" value="{{items_carteira.detalesPago}}" required>
            </div>
            {%endfor%}
        </div>
        <div>
            <label for="kmAtualiza">Adicione o KM:</label>
            <input type="number" name="kmAtualiza" id="kmAtualiza" value="{{Servico.km_final}}" required>
        </div>
        <div class="lado-a-lado ">
            <div style="width: 50%; margin-right: 10px;">
                <input class="button-grande cor-cancelar" id="meuBotao" type="button" value="CANCELAR">
            </div>
            <div style="width: 100%; margin-right: 10px;">
                <a href="#"><input type="submit" class="button-grande cor-ok" name="" value="SALVAR"></a>
            </div>
        </div>
    </form>
    <input type="hidden" id="servico_id" value="{{ Servico.editor_finalizado_id }}">

</div>

</div>
{%else%}
{%endif%}

<script>
    //para carro
    function addImageInputAprovar(tipo) {
        let tipo_container, tipo_edit, typ;
        if (tipo === 'images_carro') {
            tipo_container = 'images-container-carro';
            tipo_edit = 'image-carro';
            typ = 'image';
        } else if (tipo === 'images_serviso') {
            tipo_container = 'images-container-serviso';
            tipo_edit = 'image-serviso';
            typ = 'image';
        } else if (tipo === 'videos_carro') {
            tipo_container = 'videos-container-carro';
            tipo_edit = 'video-carro';
            typ = 'video';
        } else if (tipo === 'videos_serviso') {
            tipo_container = 'videos-container-serviso';
            tipo_edit = 'video-serviso';
            typ = 'video';
        } else {
            alert('Erro');
            return;
        }

        let Count = document.querySelectorAll(`#${tipo_container} .file-input`).length;
        const tempInput = document.createElement('input');
        tempInput.type = 'file';
        tempInput.accept = `${typ}/*`;
        tempInput.style.display = 'none';

        tempInput.addEventListener('change', (event) => {
            if (event.target.files.length > 0) {
                const formData = new FormData();
                formData.append('file', event.target.files[0]);
                formData.append('Ser_id', $("#Ser_id").val());
                formData.append('tipo', tipo);

                fetch('/upload_registro_img', {
                    method: 'POST',
                    body: formData
                }).then(response => response.json())
                    .then(data => {
                        if (data.filename) {
                            Count++;
                            const container = document.getElementById(`${tipo_container}`);
                            const div = document.createElement('div');
                            div.className = 'file-input';

                            let previewElement;
                            if (typ === 'image') {
                                previewElement = `<img id="preview-${tipo_edit}-${Count}"
                                    src="/static/preservados/${data.filename}" alt=""
                                    onclick="subFileInputAprovar(${Count}, '${tipo}')">`;
                            } else if (typ === 'video') {
                                previewElement = `<video id="preview-${tipo_edit}-${Count}" controls src="/static/preservados/${data.filename}" type="video/mp4">
                                </video>`;
                            }

                            div.innerHTML = `
                            <input type="file" name="${tipo}_${Count}" id="${tipo}_${Count}"
                                onclick="openFileInputAprovar(${Count},'${tipo}')" accept="${typ}/*">
                            <label for="${tipo}_${Count}">Editar</label>
                            ${previewElement}
                            <button onclick="removeInputAprovar('${data.filename}', '${tipo}_${Count}','${tipo}')" 
                                    style="background-color: #f44336; color: white; border: none; padding: 5px 5px; text-align: center; text-decoration: none; display: inline-block; font-size: 14px; margin: 4px 2px; cursor: pointer; border-radius: 8px; transition: background-color 0.3s;"
                                    onmouseover="this.style.backgroundColor='#d32f2f'" 
                                    onmouseout="this.style.backgroundColor='#f44336'">
                                <i class="fas fa-trash-alt" style="margin-right: 8px;"></i> Remover
                            </button>
                        `;
                            container.appendChild(div);
                        } else {
                            alert('Por favor, atualize a página e tente novamente.');
                        }
                    });
            }
        });

        document.body.appendChild(tempInput);
        tempInput.click();
        tempInput.remove();
    }

    function removeInputAprovar(filename, inputId, tipo) {
        const formData = new FormData();
        formData.append('Ser_id', $("#Ser_id").val());
        formData.append('tipo', tipo);
        fetch(`/delete_registro_img/${filename}`, {
            method: 'POST',
            body: formData
        }).then(response => response.json())
            .then(data => {
                if (data.success) {
                    const element = document.getElementById(inputId);
                    if (element) {
                        element.parentNode.remove();
                    }
                } else {
                    alert('Por favor, atualize a página e tente novamente.');
                }
            });
    }

    function openFileInputAprovar(count, tipo) {
        let tipo_container, tipo_edit, typ;
        if (tipo === 'images_carro') {
            tipo_container = 'images-container-carro';
            tipo_edit = 'image-carro';
            typ = 'image';
        } else if (tipo === 'images_serviso') {
            tipo_container = 'images-container-serviso';
            tipo_edit = 'image-serviso';
            typ = 'image';
        } else if (tipo === 'videos_carro') {
            tipo_container = 'videos-container-carro';
            tipo_edit = 'video-carro';
            typ = 'video';
        } else if (tipo === 'videos_serviso') {
            tipo_container = 'videos-container-serviso';
            tipo_edit = 'video-serviso';
            typ = 'video';
        } else {
            alert('Erro');
            return;
        }
        const input = document.getElementById(`${tipo}_${count}`);
        const a = document.getElementById(`preview-video-serviso-1`);

        input.addEventListener('change', async (event) => {
            if (event.target.files.length > 0) {
                const formData = new FormData();
                formData.append('file', event.target.files[0]);
                formData.append('Ser_id', $("#Ser_id").val());
                formData.append('tipo', tipo);

                const preview = document.getElementById(`preview-${tipo_edit}-${count}`);
                const oldFilename = preview.src.split('/').pop();


                try {
                    const response = await fetch(`/edit_registro_img/${oldFilename}`, {
                        method: 'POST',
                        body: formData
                    });

                    if (!response.ok) {
                        throw new Error(`Server error: ${response.statusText}`);
                    }
                    const data = await response.json();
                    if (typ === 'image') {
                        var previewElement = `<img id="preview-${tipo_edit}-${count}"
                                src="/static/preservados/${data.filename}" alt=""
                                onclick="subFileInputAprovar(${count}, '${tipo}')">`;
                    } else if (typ === 'video') {
                        var previewElement = `<video id="preview-${tipo_edit}-${count}" controls src="/static/preservados/${data.filename}" type="video/mp4">
                            </video>`;
                    }
                    if (data.filename) {
                        const container = preview.parentNode;
                        container.innerHTML = `
                            <input type="file" name="${tipo}_${count}" id="${tipo}_${count}"
                                onclick="openFileInputAprovar(${count},'${tipo}')" accept="${typ}/*">
                            <label for="${tipo}_${count}">Editar Imagem</label>
                            ${previewElement}
                            <button onclick="removeInputAprovar('${data.filename}', '${tipo}_${count}','${tipo}')" 
                                    style="background-color: #f44336; color: white; border: none; padding: 5px 5px; text-align: center; text-decoration: none; display: inline-block; font-size: 14px; margin: 4px 2px; cursor: pointer; border-radius: 8px; transition: background-color 0.3s;"
                                    onmouseover="this.style.backgroundColor='#d32f2f'" 
                                    onmouseout="this.style.backgroundColor='#f44336'">
                                <i class="fas fa-trash-alt" style="margin-right: 8px;"></i> Remover
                            </button>
                        `;
                    } else {
                        console.log('Error aqui 1:', error);
                        throw new Error('Por favor, atualize a página e tente novamente.');
                    }
                } catch (error) {
                    console.log('Error aqui 2:', error);
                    alert('Por favor, atualize a página e tente novamente.');
                }
            }
        });
    }


    function subFileInputAprovar(index, tipo) {
        const fileInput = document.getElementById(`${tipo}_${index}`);
        fileInput.click();
    }

    //adicionar ao banco 

    $(document).ready(function () {
        window.enviarDadosParaAprovacao = function enviarDadosParaAprovacao() {
            var campos = ["Ser_id", "statusServ", "descricao", "obsAdicionais"];
            var formData = new FormData();
            campos.forEach(function (campo) {
                formData.append(campo, $("#" + campo).val());
            });
            var fileInput = document.getElementById('image_1');
            var file = fileInput.files[0];
            formData.append('image_1', file);

            $.ajax({
                url: "/add_or_update_registro",
                method: "PUT",
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    response.message
                },
                error: function () {
                    alert('O arquivo de imagem é muito grande. Por favor, selecione uma imagem menor ou utilize uma ferramenta de compressão de imagens para reduzir o tamanho do arquivo.')
                }
            });
        }

        $(".registroForm").on("input", function () {
            enviarDadosParaAprovacao();
        });
    });
    //redirecionar

    function redirecionar() {
        var idInput = document.getElementById("servico_id");

        var botao = document.getElementById("meuBotao");

        if (idInput && botao) {
            var id = idInput.value;
            var parametro = "tratatar";
            window.location.href = `/AbrirServico/${id}/${parametro}`;
        }
    }

    var botao = document.getElementById("meuBotao");
    if (botao) {

        setTimeout(function () {
            redirecionar();
        }, 129000);

        botao.addEventListener("click", redirecionar);
        botao.addEventListener("keydown", function (event) {
            if (event.key === "Enter" || event.keyCode === 13) {
                redirecionar();
            }
        });
    }
    function removerUltimaCopia() {
        var adicioneados = document.getElementById("adicioneados");
        var divs = adicioneados.getElementsByTagName("div");
        if (divs.length > 0) {
            adicioneados.removeChild(divs[divs.length - 1]);
        }
    }

</script>
{% endblock content %}