{% extends 'NavAdimin.html' %}
{% block content %}
{%if status == 'cliente'%}
<h2 class="cabeçario-pagina">Serviços do Cliente</h2>
{%else%}
<h2 class="cabeçario-pagina">{{status}}s</h2>
{%endif%}
<div id="search-container">
    <div class="search-box">
        <form style="display: flex; width: 98%;" method="POST">
            {% if busca %}
            <input class="anular" value="{{busca}}" type="text" id="searchinput" placeholder="Buscar serviso"
                autofocus="autofocus" name="search_string" aria-label="searchServiso">
            {% else %}
            <input class="anular" type="text" id="searchinput" placeholder="Buscar serviso" autofocus="autofocus"
                name="search_string" aria-label="searchServiso">
            {% endif %}

            <select class="anular searchselector" id="searchselector" name="searchselector" onchange="alterarFormato()">
                </option>
                {% if escolha == "todos" %}
                <option value="todos" selected>Todos</option>
                {% else %}
                <option value="todos">Todos</option>
                {% endif %}
                {% if escolha == "id" %}
                <option value="id" selected>ID</option>
                {% else %}
                <option value="id">ID</option>
                {% endif %}
                {%if status == 'cliente' or status == 'meus servico'%}
                {% if escolha == "modelo" %}
                <option value="modelo" selected>Modelo</option>
                {% else %}
                <option value="modelo">Modelo</option>
                {% endif %}
                {% if escolha == "placa" %}
                <option value="placa" selected>Placa</option>
                {% else %}
                <option value="placa">Placa</option>
                {% endif %}
                {%else%}
                {% if escolha == "nome" %}
                <option value="nome" selected>Nome/Cliente</option>
                {% else %}
                <option value="nome">Nome/Cliente</option>
                {% endif %}
                {%endif%}
                {% if escolha == "datafor" %}
                <option value="datafor" selected>Data</option>
                {% else %}
                <option value="datafor">Data</option>
                {% endif %}
            </select>
            {%if status == 'cliente'%}
            <button id="search-button" formaction="/searchservicoDoCliente/{{cliente_id.id}}">Buscar</button>
            {%elif status == 'meus servico'%}
            <button id="search-button" formaction="/searchservicoRelatorios">Buscar</button>
            {%else%}
            <button id="search-button" formaction="/searchServiso/{{status}}">Buscar</button>
            {%endif%}

        </form>
    </div>
</div>
<div class="custom-validation-message" id="customMessage"></div>
{%if status == 'cliente'%}
<h2>{{ cliente_id.nome }}</h2>

{%elif status == 'meus servico'%}
<h2>Todos os seus Seviços</h2>
{%else%}
<div class="botao-add">
    <a href="{{url_for('AddServico')}}" class="button-pequeno cor-ok">Adicionar Orçamento</a>
</div>
{%endif%}
<div class="mobile-table">
    <table class="mobile-table">
        <thead>
            <tr>
                {%if status == 'cliente'%}
                <th>Placa/Modelo</th>
                <th>Data</th>
                {%else%}
                {%if status == 'Todo'%}
                <th>Status</th>
                <th>Nome/Cliente</th>
                {%else%}
                <th>Nome/Cliente</th>
                <th>Data</th>
                {%endif%}
                {%endif%}
            </tr>
        </thead>
        <tbody>
            {% for item in servisos %}

            {%if item.id == 0 %}
            {% else %}

            {%if status == 'Todo'%}
            <tr>
                <td>{{ item.status}}</td>
                {%if item.cliente_os_id > 0%}
                {% if item.cliente_os.nomeFantasia %}
                <td class="truncate">{{item.cliente_os.nomeFantasia}}</td>
                {% else %}
                <td class="truncate">{{item.cliente_os.nome}}</td>
                {% endif %}
                {%else%}
                <td class="cliente_json truncate">{{item.cliente_veiculo}}</td>
                {%endif%}
            </tr>
            {%elif status == 'cliente'%}
            <tr>
                <td class="truncate">{{item.veiculo_os.placa}}/{{item.veiculo_os.carro.modelo}}</td>
                <td class="dataFormatada">{{ item.data_finalizada }}</td>
            </tr>
            {%else%}
            <tr>
                {%if item.cliente_os_id > 0%}
                {% if item.cliente_os.nomeFantasia %}
                <td class="truncate">{{item.cliente_os.nomeFantasia}} (PJ)</td>
                {% else %}
                <td class="truncate">{{item.cliente_os.nome}} </td>
                {% endif %}
                {%else%}
                <td class="cliente_json truncate">{{item.cliente_veiculo}}</td>
                {%endif%}
                <td class="dataFormatada">{{ item.data_finalizada }}</td>
            </tr>
            {%endif%}

            <tr class="row-details">
                <td colspan="5">
                    <table class="nested-table">
                        <thead>
                            <tr>
                                <th colspan="4"
                                    style="color: aliceblue; text-align: center; background-color: rgb(77, 77, 77);">
                                    Dados item</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>ID</th>
                                <td colspan="3">{{ item.id }}</td>
                            </tr>
                            <tr>
                                <th>Telefone</th>
                                <td colspan="3">{{ item.cliente_os.fone }} - {{ item.cliente_os.fone1 }}</td>
                            </tr>
                            <tr>
                                <th>Placa</th>
                                <td colspan="3">{{item.veiculo_os.placa}}</td>
                            </tr>
                            {%if item.veiculo_os%}
                            <tr>
                                <th>Carro</th>
                                <td colspan="3">
                                    {{item.veiculo_os.carro.marca}}/{{item.veiculo_os.carro.modelo}}/{{item.veiculo_os.carro.ano}}/{{item.veiculo_os.carro.motor}}
                                </td>
                            </tr>
                            {% endif %}
                            <tr>
                                <th>Notafiscal</th>
                                <td colspan="3">{{ item.notafiscal }}</td>
                            </tr>
                            <tr>
                                <th>Criador</th>
                                <td colspan="3">{{ item.user_os.apelido }}</td>
                            </tr>

                            <tr>
                                <th>Data/Criado</th>
                                <td colspan="3" class="dataFormatada">{{ item.data_criado }}</td>
                            </tr>

                            {% if item.status == 'Finalizado' %}
                            <tr>
                                <th>Data/Finalizado</th>
                                <td colspan="3" class="dataFormatada">{{ item.data_finalizada }}</td>
                            </tr>
                            {% else %}
                            {% endif %}
                            <tr>
                                <th>Serviço</th>
                                <td colspan="3" class="mdo_nome_json">{{ item.mo_os }}</td>
                            </tr>
                            <tr>
                                <th>OBS</th>
                                <td colspan="3">{{ item.obs }}</td>
                            </tr>
                            <tr>
                                {%if session["nivel"] >= 4%}
                                <td>
                                    <input type="button" onclick="showDiv('Servisos', '{{item.id}}', '{{item.nome}}')"
                                        class="cor-cancelar" style="margin-bottom: 10px;" value="Apagar">
                                </td>
                                {%else%}
                                <td>
                                </td>
                                {%endif%}
                                <td colspan="3"><a
                                        href="{{url_for('AbrirServico',id=item.id,tratatar='alertar')}}"><input
                                            type="submit" class="button-grande cor-ok" name="" value="Abrir"></a>
                                </td>
                            </tr>
                    </table>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

{%if status == 'cliente'%}
<div class="pagination">
    {% if servisos.has_prev %}
    {% if busca %}
    <form action="{{ url_for('searchservicoDoCliente',id=cliente_id.id, page=servisos.prev_num) }}" method="POST">
        <input value="{{ busca }}" type="hidden" id="searchinput" name="search_string">
        <input value="{{ escolha }}" type="hidden" id="searchselector" name="searchselector">
        <button type="submit">&lt;</button>
    </form>
    {% else %}
    <a href="{{ url_for('servicoDoCliente',id=cliente_id.id, page=servisos.prev_num) }}">&lt;</a>
    {% endif %}
    {% endif %}
    {% if servisos.total > 10 %}
    {% for page_num in servisos.iter_pages(left_edge=0, right_edge=1, left_current=1, right_current=1) %}
    {% if page_num %}
    {% if servisos.page == page_num %}
    {%if busca %}
    <form action="{{ url_for('searchservicoDoCliente',id=cliente_id.id, page=page_num) }}" method="POST">
        <input value="{{ busca }}" type="hidden" id="searchinput" name="search_string">
        <input value="{{ escolha }}" type="hidden" id="searchselector" name="searchselector">
        <button class="paginationActive" type="submit">{{ page_num }}</button>
    </form>
    {% else %}
    <a class="paginationActive" href="{{ url_for('servicoDoCliente',id=cliente_id.id, page=page_num) }}">{{ page_num
        }}</a>
    {% endif %}
    {% else %}
    {%if busca %}
    <form action="{{ url_for('searchservicoDoCliente',id=cliente_id.id, page=page_num) }}" method="POST">
        <input value="{{ busca }}" type="hidden" id="searchinput" name="search_string">
        <input value="{{ escolha }}" type="hidden" id="searchselector" name="searchselector">
        <button type="submit">{{ page_num }}</button>
    </form>
    {% else %}
    <a href="{{ url_for('servicoDoCliente',id=cliente_id.id, page=page_num) }}">{{ page_num }}</a>
    {% endif %}
    {% endif %}
    {% endif %}
    {% endfor %}
    {% endif %}
    {% if servisos.has_next %}
    {% if busca %}
    <form action="{{ url_for('searchservicoDoCliente',id=cliente_id.id, page=servisos.next_num) }}" method="POST">
        <input value="{{ busca }}" type="hidden" id="searchinput" name="search_string">
        <input value="{{ escolha }}" type="hidden" id="searchselector" name="searchselector">
        <button type="submit">&gt;</button>
    </form>
    {% else %}
    <a href="{{ url_for('servicoDoCliente',id=cliente_id.id, page=servisos.next_num) }}">&gt;</a>
    {% endif %}
    {% endif %}

</div>
{%elif status == 'meus servico'%}
<div class="pagination">
    {% if servisos.has_prev %}
    {% if busca %}
    <form action="{{ url_for('searchservicoRelatorios', page=servisos.prev_num) }}" method="POST">
        <input value="{{ busca }}" type="hidden" id="searchinput" name="search_string">
        <input value="{{ escolha }}" type="hidden" id="searchselector" name="searchselector">
        <button type="submit">&lt;</button>
    </form>
    {% else %}
    <a href="{{ url_for('servicoRelatorios', page=servisos.prev_num) }}">&lt;</a>
    {% endif %}
    {% endif %}
    {% if servisos.total > 10 %}
    {% for page_num in servisos.iter_pages(left_edge=0, right_edge=1, left_current=1, right_current=1) %}
    {% if page_num %}
    {% if servisos.page == page_num %}
    {%if busca %}
    <form action="{{ url_for('searchservicoRelatorios', page=page_num) }}" method="POST">
        <input value="{{ busca }}" type="hidden" id="searchinput" name="search_string">
        <input value="{{ escolha }}" type="hidden" id="searchselector" name="searchselector">
        <button class="paginationActive" type="submit">{{ page_num }}</button>
    </form>
    {% else %}
    <a class="paginationActive" href="{{ url_for('servicoRelatorios', page=page_num) }}">{{ page_num
        }}</a>
    {% endif %}
    {% else %}
    {%if busca %}
    <form action="{{ url_for('searchservicoRelatorios', page=page_num) }}" method="POST">
        <input value="{{ busca }}" type="hidden" id="searchinput" name="search_string">
        <input value="{{ escolha }}" type="hidden" id="searchselector" name="searchselector">
        <button type="submit">{{ page_num }}</button>
    </form>
    {% else %}
    <a href="{{ url_for('servicoRelatorios', page=page_num) }}">{{ page_num }}</a>
    {% endif %}
    {% endif %}
    {% endif %}
    {% endfor %}
    {% endif %}
    {% if servisos.has_next %}
    {% if busca %}
    <form action="{{ url_for('searchservicoRelatorios', page=servisos.next_num) }}" method="POST">
        <input value="{{ busca }}" type="hidden" id="searchinput" name="search_string">
        <input value="{{ escolha }}" type="hidden" id="searchselector" name="searchselector">
        <button type="submit">&gt;</button>
    </form>
    {% else %}
    <a href="{{ url_for('servicoRelatorios', page=servisos.next_num) }}">&gt;</a>
    {% endif %}
    {% endif %}

</div>
{%else%}
<div class="pagination">
    {% if servisos.has_prev %}
    {% if busca %}
    <form action="{{ url_for('searchServiso',status=status, page=servisos.prev_num) }}" method="POST">
        <input value="{{ busca }}" type="hidden" id="searchinput" name="search_string">
        <input value="{{ escolha }}" type="hidden" id="searchselector" name="searchselector">
        <button type="submit">&lt;</button>
    </form>
    {% else %}
    <a href="{{ url_for('servisos',status=status, page=servisos.prev_num) }}">&lt;</a>
    {% endif %}
    {% endif %}
    {% if servisos.total > 10 %}
    {% for page_num in servisos.iter_pages(left_edge=0, right_edge=1, left_current=1, right_current=1) %}
    {% if page_num %}
    {% if servisos.page == page_num %}
    {%if busca %}
    <form action="{{ url_for('searchServiso',status=status, page=page_num) }}" method="POST">
        <input value="{{ busca }}" type="hidden" id="searchinput" name="search_string">
        <input value="{{ escolha }}" type="hidden" id="searchselector" name="searchselector">
        <button class="paginationActive" type="submit">{{ page_num }}</button>
    </form>
    {% else %}
    <a class="paginationActive" href="{{ url_for('servisos',status=status, page=page_num) }}">{{ page_num }}</a>
    {% endif %}
    {% else %}
    {%if busca %}
    <form action="{{ url_for('searchServiso',status=status, page=page_num) }}" method="POST">
        <input value="{{ busca }}" type="hidden" id="searchinput" name="search_string">
        <input value="{{ escolha }}" type="hidden" id="searchselector" name="searchselector">
        <button type="submit">{{ page_num }}</button>
    </form>
    {% else %}
    <a href="{{ url_for('servisos',status=status, page=page_num) }}">{{ page_num }}</a>
    {% endif %}
    {% endif %}
    {% endif %}
    {% endfor %}
    {% endif %}
    {% if servisos.has_next %}
    {% if busca %}
    <form action="{{ url_for('searchServiso',status=status, page=servisos.next_num) }}" method="POST">
        <input value="{{ busca }}" type="hidden" id="searchinput" name="search_string">
        <input value="{{ escolha }}" type="hidden" id="searchselector" name="searchselector">
        <button type="submit">&gt;</button>
    </form>
    {% else %}
    <a href="{{ url_for('servisos',status=status, page=servisos.next_num) }}">&gt;</a>
    {% endif %}
    {% endif %}

</div>
<script>
    const elementosCliente = document.querySelectorAll(".cliente_json");

    elementosCliente.forEach(elemento => {
        const dadosJSON = JSON.parse(elemento.textContent);

        if (dadosJSON.itens && dadosJSON.itens.length > 0) {
            const nome = dadosJSON.itens[0].nome;

            const nomeElemento = document.createElement("span");
            nomeElemento.textContent = nome ? nome : "Não há nome";

            elemento.innerHTML = "";
            elemento.appendChild(nomeElemento);
        } else {
            const nomeElemento = document.createElement("span");
            nomeElemento.textContent = "Não há Mão de obra";

            elemento.innerHTML = "";
            elemento.appendChild(nomeElemento);
        }
    });
    const elementosMDOnome = document.querySelectorAll(".mdo_nome_json");

    elementosMDOnome.forEach(elemento => {
        const dadosJSON = JSON.parse(elemento.textContent);

        // Verifica se existem itens no objeto JSON
        if (dadosJSON.itens && dadosJSON.itens.length > 0) {
            // Cria um div para armazenar os nomes
            const divNomes = document.createElement("div");

            // Itera sobre todos os itens do objeto JSON
            dadosJSON.itens.forEach(item => {
                // Verifica se há um nome neste item
                if (item.MDO_nome) {
                    // Remove os pontos do nome
                    const nomeSemPontos = item.MDO_nome;

                    // Cria um elemento de texto para o nome e adiciona à div
                    const nomeTexto = document.createElement("span");
                    nomeTexto.textContent = nomeSemPontos;
                    divNomes.appendChild(nomeTexto);

                    // Adiciona uma quebra de linha entre os nomes
                    const quebraLinha = document.createElement("br");
                    divNomes.appendChild(quebraLinha);
                }
            });

            // Limpa o conteúdo do elemento original e adiciona a div de nomes
            elemento.innerHTML = "";
            elemento.appendChild(divNomes);
        } else {
            // Se não houver itens, exibe "Não há nome" como antes
            const nomeElemento = document.createElement("span");
            nomeElemento.textContent = "Não há Mão de obra";
            elemento.innerHTML = "";
            elemento.appendChild(nomeElemento);
        }
    });
</script>


{%endif%}

{% endblock content %}