{% extends 'NavAdimin.html' %}

{% block contentConsumidor %}
<style>
    .nomeCabecario {
        font-size: 2vw;
        font-weight: bold;
        color: #333;
        text-align: center;
        padding: 10px;
    }

    .itemConsumidor {
        display: flex;
        align-items: flex-start;
        /* Ajusta a imagem para alinhar no topo */
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .div-esquerda {
        position: relative;
        display: block;
        text-align: left;
        width: 100%;
    }

    .div-direita {
        display: block;
        text-align: right;
        width: 80%;
    }

    .div-direita img {
        position: relative;
        top: 0;
    }

    .itemConsumidor img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    .itemConsumidor h2 {
        color: #333;
        font-size: 24px;
        margin-bottom: 10px;
        text-align: center;
    }

    .details {
        width: 100%;
        padding: 10px;
    }

    .details table {
        width: 100%;
        margin-top: 20px;
        border-collapse: collapse;
        background-color: #ccc;
        border-radius: 10px;
    }

    .details th {
        background-color: #8b8b8b;
    }

    .details th,
    .details td {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    .details th {
        text-align: left;
        font-weight: bold;
    }

    .details tr:nth-child(even) {
        background-color: #f2f2f2;
        /* Cor para as linhas pares */
    }

    .details tr:nth-child(odd) {
        background-color: #e6e6e6;
        /* Cor para as linhas ímpares */
    }

    /* Estilos do container de oferta */

    .container-iterno-consumidor {
        margin: 0 auto;
        padding-top: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 20px;
    }

    .produto {
        position: relative;
        text-align: center;
        background-color: #fff;
        border-radius: 15px;
        margin: 10px;
        box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.5);
    }

    .produto:hover {
        cursor: pointer;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transform: scale(1.05);
    }

    .produto img {
        width: 100%;
        height: 150px;
        border-radius: 10px;
        padding: 0;

    }

    .produto h2 {
        font-size: 1.2vw;
        margin: 10px 0;
        padding-bottom: 20px;
    }


    .container-iterno-consumidor {
        grid-template-columns: repeat(5, minmax(20px, 1fr));
    }

    .valor-consumidor {
        color: #0e320b;
        font-weight: bold;
        margin-top: 10px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
    }

    .botao-pedir-carro,
    .botao-agendar {
        background-color: #4CAF50;
        /* Cor de fundo verde */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    /* Estilo específico para o botão "Pedir Carro" */
    .botao-pedir-carro {
        background-color: #25ba00;
        /* Cor de fundo azul */
    }

    /* Estilo específico para o botão "Agendar" */
    .botao-agendar {
        background-color: #0918e4;
        /* Cor de fundo vermelha */
    }

    /* Estilo para o container dos botões */
    .botoes-container {
        display: flex;
        justify-content: space-between;
        /* Os botões ficarão alinhados um ao lado do outro, com espaço entre eles */
        margin-top: 20px;
    }

    /* Estilo hover para os botões */
    .botao-pedir-carro:hover,
    .botao-agendar:hover {
        background-color: #45a049;
        /* Cor de fundo mais escura ao passar o mouse */
    }

    .btn {
        background-color: #4CAF50;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

    .btn:hover {
        background-color: #45a049;
    }

    /* Estilos para o Conversar */
    .btn {
        background-color: #4CAF50;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

    .btn:hover {
        background-color: #45a049;
    }

    /* Estilos para o Conversar */
    .Conversar {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
        /* Fundo semi-transparente */
    }

    .Conversar-content {
        background-color: #fff;
        margin: 10% auto;
        padding: 0px;
        border-radius: 10px;
        max-width: 400px;
        position: relative;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        /* Sombra */
        animation-name: Conversar-show;
        animation-duration: 0.5s;
    }

    @keyframes Conversar-show {
        from {
            opacity: 0;
            transform: translateY(-50px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /* Estilos para os botões dentro do Conversar */
    .Conversar-content button {
        margin: 10px;
        padding: 12px 24px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        background-color: #4CAF50;
        color: white;
    }

    .Conversar-content button:hover {
        background-color: #45a049;
    }

    .btn-icon {
        display: inline-block;
        margin-right: 5px;
        font-size: 20px;
    }

    .btn {
        margin: 10px;
    }

    @media screen and (max-width: 760px) {
        .Conversar-content {
            margin: 50% auto;
        }

        .nomeCabecario {
            font-size: 4vw;
            font-weight: bold;
            color: #333;
            margin-bottom: 10px;
            text-align: center;
        }


        .itemConsumidor {
            display: block;
            align-items: center;
            justify-content: space-between;
            background-color: #f9f9f9;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .details {
            margin: 0;
            padding: 0;
            width: 100%;
            font-size: 2.4vw;
            align-items: center;
        }

        .details table {
            margin: 0;
            padding: 0;
            width: 100%;
            font-size: 2.4vw;
            border-collapse: collapse;

        }

        .div-direita {
            display: block;
            text-align: right;
            width: 100%;
        }

        .div-direita img {
            position: relative;
            top: 0;
        }

        .produto-oferta {
            position: relative;
            width: 300px;
            height: 200px;
            margin: 10px;
            border: 1px solid #ccc;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.8);
        }


        .produto h2 {
            font-size: 3vw;
            margin: 10px 0;
        }

        .valor-consumidor-oferta {
            margin-top: 10px;
            font-size: 5vw;
        }
    }
</style>
<div class="margens-consumidor">
    <div class="nomeCabecario">
        <h2>{{Combo.nome}}</h2>
    </div>

    <div class="itemConsumidor">
        <div class="div-esquerda">
            <div class="details">
                <table>
                    <thead>
                        <h3>Dados Do Seviço</h3>
                        <tr>
                            <th>Nome</th>
                            <th>Un</th>
                            <th>Valor</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if items_data_pecas %}
                        {% for item_peca in items_data_pecas %}
                        <tr>
                            <td>{{item_peca.nome}}</td>
                            <td>{{item_peca.un}}</td>
                            <td>{{item_peca.preso}}</td>
                            <td>{{item_peca.pago_total}}</td>
                        </tr>
                        {%endfor%}
                        {% else %}
                        {% endif %}
                        {% if items_data_MDO %}
                        {% for items_MDO in items_data_MDO %}
                        <tr>
                            <td>{{items_MDO.nome}}</td>
                            <td></td>
                            <td></td>
                            <td>{{items_MDO.preso}}</td>
                        </tr>
                        {%endfor%}
                        {% else %}
                        {% endif %}
                        <tr>
                            <td><strong>TOTAL</strong></td>
                            <td></td>
                            <td></td>
                            <td><strong>{{Combo.valor_total}}</strong></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="div-direita">
            <img class="produto-img" src="{{url_for('static',filename='imagens/'+Combo.image_1)}}"
                alt="Nome do Produto">
            <div style="display: flex; padding: 10px; color: black;">
                <label for="Descricao">Descrição: </label>
                <textarea name="Descricao" id="Descricao" cols="" rows="5" disabled>{{Combo.obs}}</textarea>
            </div>
            <div style="display: flex; padding: 10px; color: black;">
                <label for="carros">Carros: </label>
                <textarea name="carros" id="carros" cols="" rows="5" disabled>{{Combo.carro}}</textarea>
            </div>
            <div class="botoes-container">
                <button class="btn" onclick="openConversar()"><i class="fas fa-car btn-icon"></i>Para outro
                    Carro</button>
                <button class="btn" onclick="openConversar()"><i
                        class="fas fa-comment-alt btn-icon"></i>Garantir</button>
            </div>
        </div>

    </div>

    <div class="container-consumidor-oferta">
        <div class="carousel">
            {% for item in similarCombos %}
            <div class="produto" onclick="abrirDetalhes('{{ item.id }}')">
                <img src="{{ url_for('static', filename='imagens/' + item.image_1) }}" alt="Produto 1">
                <h2 class="capitalize">{{item.nome}}</h2>
                <div class="valor-consumidor">
                    <p class="valor-consumidor">{{item.valor_total}}</p>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

<div id="myConversar" class="Conversar">
    <div class="Conversar-content">
        <div class="cor-ok DivFlutanteCabeça">
            <h3>Escolha!!!</h3>
            <span onclick="closeConversar()" class="close-btn">&times;</span>
        </div>

        <h3 style="text-align: center; padding: 10px;">Como deseja entrar em contato?</h3>
        <div style="text-align: center;">
            <button onclick="openWhatsApp()"><i class="fab fa-whatsapp"></i> WhatsApp</button>
            <button onclick="call()"><i class="fas fa-phone-alt"></i> Ligar</button>
        </div>
        <div style="text-align: center;">
            <button onclick="mensagem({{Combo.id}})"><i class="far fa-envelope"></i> Quer façamos contato?</button>
        </div>
    </div>
</div>

<footer class="rodape">
    <div class="row">
        <div class="col-md-6">
            <h3>Sobre Nós</h3>
            <p>Com mais de três décadas de experiência, somos uma empresa familiar comprometida em oferecer serviços
                de alta qualidade
                e agilidade no setor automotivo. Com um legado passado de pai para filho, estamos constantemente nos
                aperfeiçoando para
                garantir que nossos clientes recebam o melhor atendimento possível. Especializados em multimarcas,
                nossos serviços
                abrangem suspensão, motor, freios e diagnósticos. Conte conosco para cuidar do seu veículo com
                expertise e dedicação.</p>
        </div>
        <div class="col-md-6">
            <h3>Contato</h3>
            <ul>
                <li><a id="whatsapp" class="social-link" href="https://wa.me/5551986927910" target="_blank"><i
                            class="fab fa-whatsapp"></i><span> (51) 98692-7910</span>
                    </a></li>
                <li><a id="instagram" class="social-link"
                        href="https://www.instagram.com/explore/locations/870229616463082/maica-manutencao-automotiva/"
                        target="_blank"><i class="fab fa-instagram"></i><span> @auto.maica</span>
                    </a></li>
                <li><a id="facebook" class="social-link" href="https://www.facebook.com/maicaauto/?locale=pt_BR"
                        target="_blank"><i class="fab fa-facebook-f"></i><span> /maicaauto</span> </a></li>
                <li><a id="google" class="social-link"
                        href="https://www.google.com/maps/place/Maic%C3%A1+Manuten%C3%A7%C3%A3o+Automotiva/@-29.9099282,-51.1490916,17z/data=!3m1!4b1!4m6!3m5!1s0x9519703a16d7c6d3:0xfac2f982ef75c777!8m2!3d-29.9099282!4d-51.1490916!16s%2Fg%2F11fyzd47tj?entry=ttu"
                        target="_blank"><i class="fab fa-google"></i><span> Maicá Manutenção Automotiva</span></a>
                </li>
                <li><a id="phone" class="social-link" href="tel:+5551986927910"><i class="fas fa-phone"></i><span>
                            (51) 98692-7910</span>
                    </a></span>
                </li>
                <li><a id="email" class="social-link" href="#" onclick="copyToClipboard('auto.maica@gmail.com')"><i
                            class="far fa-envelope"></i><span> auto.maica@gmail.com</span></a></li>
            </ul>
        </div>
    </div>
</footer>
<script>
    function openConversar() {
        var Conversar = document.getElementById("myConversar");
        Conversar.style.display = "block";
    }

    // Função para fechar o Conversar
    function closeConversar() {
        var Conversar = document.getElementById("myConversar");
        Conversar.style.display = "none";
    }

    function openWhatsApp() {
        var phoneNumber = '5551986927910';
        var message = 'Olá! Gostaria de falar sobre este serviço.' + window.location.href;

        var encodedMessage = encodeURIComponent(message);

        var whatsappURL = 'https://wa.me/' + phoneNumber + '?text=' + encodedMessage;

        window.open(whatsappURL, '_blank');
        closeConversar();
    }

    function call() {
        window.location.href = 'tel:+5551986927910';
        closeConversar();
    }

    // Função para enviar um email
    function mensagem(id) {
        window.location.href = '/pedidoContato/'+ id;
        closeConversar();
    }

    function scrollToRow() {
        document.querySelector('.row').scrollIntoView({
            behavior: 'smooth'
        });
    }

    document.getElementById('scrollButton').addEventListener('click', function () {
        document.querySelector('.row').scrollIntoView({
            behavior: 'smooth'
        });
    });
    function abrirDetalhes(id) {
        window.location.href = `/dadosInformativos/${id}`;
    }
    $(document).ready(function () {
        $('.carousel').slick({
            slidesToShow: 5,
            slidesToScroll: 2,
            dots: true,
            arrows: false,
            autoplay: true,
            autoplaySpeed: 3000,
            responsive: [
                {
                    breakpoint: 767,
                    settings: {
                        slidesToShow: 2, /* Mostra dois slides por vez no modo mobile */
                        slidesToScroll: 1,
                        infinite: true,
                        dots: true,
                        arrows: false,
                        centerMode: true,
                        centerPadding: '30px'
                    }
                }
            ]
        });
    });
</script>

{% endblock contentConsumidor %}