{% extends 'layouts.html'%}

{% block content %}
{% include '_menssagem.html'%}
{% include 'NavAdimin.html' %}
{% from "_formularioAjuda.html" import render_field %}
{% if lembrete %}
<h2  class="cabeçario-pagina">Editar Lembrete</h2>
{% else %}
<h2  class="cabeçario-pagina">Adicionar Lembrete</h2>
{% endif %}
<form action="" method="POST" enctype="multipart/form-data">
    <fieldset class="containerForm">
        <input type="hidden" name="autor" id="autor" value="{{session['apelido']}}">
        {{ render_field(form.titulo,id='titulo', placeholder='Qual seu Titulo', class ='anular', required=True) }}
        {{ form.destinatario.label }}
        {{ form.destinatario(id="destinatario-select") }}
        {{ form.tipo.label }}
        {{ form.tipo(id="tipo-select") }}
        {{ render_field(form.msg,id='msg',style="width: 100%; height: 150px;",class ='anular', placeholder='Qual seu
        Mensagem',
        required=True) }}
        {{ render_field(form.data_inicial,id='data_inicial', placeholder='Qual a Data de Inicial', required=True,value=data_formatada_inicil) }}
        {{ render_field(form.data_fim,id='data_fim', placeholder='Qual a Data de Terminar o Aviso', required=True , value=data_formatada_fim) }}
        <input type="submit" value="CADASTRAR" class="button-grande cor-ok">
        <a href="{{url_for('Lembretes')}}" class="button-medio cor-cancelar">CANCELAR</a>
    </fieldset>
</form>
<script>
    var destinatarioSelect = document.getElementById("destinatario-select");
    var coperadorOption = destinatarioSelect.querySelector('option[value="COPERADOR"]');
    coperadorOption.disabled = true;
</script>
{% endblock content %}