{% extends 'NavAdimin.html' %}

{% block content %}
<h2 class="cabeçario-pagina">LEMBRETES</h2>
<div id="search-container">
    <div class="search-box">
        <form style="display: flex; width: 98%;" method="POST">
            {% if busca %}
            <input class="anular searchselector" value="{{busca}}" type="text" id="searchinput"
                placeholder="Buscar Lembretes" autofocus="autofocus" name="search_string"
                aria-label="searchLembretes">
            {% else %}
            <input class="anular" type="text" id="searchinput" placeholder="Buscar Lembretes" autofocus="autofocus"
                name="search_string" aria-label="searchLembretes">
            {% endif %}

            <select class="anular searchselector" id="searchselector" name="searchselector" onchange="alterarFormato()">
                <option style="background-color: rgb(165, 164, 164); color: black;" disabled>Lembretes
                </option>
                {% if escolha == "todos" %}
                <option value="todos" selected>Todos</option>
                {% else %}
                <option value="todos">Todos</option>
                {% endif %}
            </select>
            <button id="search-button" formaction="/searchLembretes">Buscar</button>
        </form>
    </div>
</div>
<div class="botao-add">
    <a href="{{url_for('addLembretes')}}" class="button-pequeno cor-ok">Adicionar lembrete</a>
</div>
<div class="mobile-table">
    <table class="mobile-table">
        <thead>
            <tr>
                <th>Criado/Por</th>
                <th>Para</th>
                <th>Data Fim</th>
            </tr>
        </thead>
        <tbody>
            {% for lembrete in Lembretes %}
            <tr>
                <td>{{ lembrete.autor }}</td>
                <td>{{ lembrete.destinatario }}</td>
                <td>{{ lembrete.data_fim }}</td>
            </tr>
            <tr class="row-details">
                <td colspan="4">
                    <table class="nested-table">
                        <tr>
                            <th>Titulo</th>
                            <td>{{ lembrete.titulo }}</td>
                        </tr>
                        <tr>
                            <th>Mensagem</th>
                            <td>{{ lembrete.msg }}</td>
                        </tr>
                        <tr>
                            <th>Tipo</th>
                            <td>{{ lembrete.tipo }}</td>
                        </tr>
                        <tr>
                            <th>Data Inicial</th>
                            <td>{{ lembrete.data_inicil }}</td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <input type="button"
                                    onclick="showDiv('Lembrete', '{{lembrete.id}}', '{{lembrete.nome}}')"
                                    class="cor-cancelar" style="margin-bottom: 10px;" value="Apagar">
                                <a href="{{url_for('atulizLembretes',id=lembrete.id)}}"><input type="submit"
                                        class="cor-alerta" name="" value="Editar"></a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="pagination">
    {% if Lembretes.has_prev %}
    {% if busca %}
    <form action="{{ url_for('searchLembretes', page=Lembretes.prev_num) }}" method="POST">
        <input value="{{ busca }}" type="hidden" id="searchinput" name="search_string">
        <input value="{{ escolha }}" type="hidden" id="searchselector" name="searchselector">
        <button type="submit">&lt;</button>
    </form>
    {% else %}
    <a href="{{ url_for('Lembretes', page=Lembretes.prev_num) }}">&lt;</a>
    {% endif %}
    {% endif %}
    {% if Lembretes.total > 10 %}
    {% for page_num in Lembretes.iter_pages(left_edge=0, right_edge=1, left_current=1, right_current=1) %}
    {% if page_num %}
    {% if Lembretes.page == page_num %}
    {%if busca %}
    <form action="{{ url_for('searchLembretes', page=page_num) }}" method="POST">
        <input value="{{ busca }}" type="hidden" id="searchinput" name="search_string">
        <input value="{{ escolha }}" type="hidden" id="searchselector" name="searchselector">
        <button class="paginationActive" type="submit">{{ page_num }}</button>
    </form>
    {% else %}
    <a class="paginationActive" href="{{ url_for('Lembretes', page=page_num) }}">{{ page_num }}</a>
    {% endif %}
    {% else %}
    {%if busca %}
    <form action="{{ url_for('searchLembretes', page=page_num) }}" method="POST">
        <input value="{{ busca }}" type="hidden" id="searchinput" name="search_string">
        <input value="{{ escolha }}" type="hidden" id="searchselector" name="searchselector">
        <button type="submit">{{ page_num }}</button>
    </form>
    {% else %}
    <a href="{{ url_for('Lembretes', page=page_num) }}">{{ page_num }}</a>
    {% endif %}
    {% endif %}
    {% endif %}
    {% endfor %}
    {% endif %}
    {% if Lembretes.has_next %}
    {% if busca %}
    <form action="{{ url_for('searchLembretes', page=Lembretes.next_num) }}" method="POST">
        <input value="{{ busca }}" type="hidden" id="searchinput" name="search_string">
        <input value="{{ escolha }}" type="hidden" id="searchselector" name="searchselector">
        <button type="submit">&gt;</button>
    </form>
    {% else %}
    <a href="{{ url_for('Lembretes', page=Lembretes.next_num) }}">&gt;</a>
    {% endif %}
    {% endif %}
</div>


{% endblock content %}