{% extends 'NavAdimin.html' %}

{% block content %}
<h2 class="cabeçario-pagina">LEMBRETES</h2>
<div class="botao-add">
    <a href="{{url_for('addLembretes')}}" class="button-pequeno cor-ok">Adicionar lembrete</a>
</div>
<div class="mobile-table">
    <table class="mobile-table">
        <thead>
            <tr>
                <th>Criado/Por</th>
                <th>Para</th>
                <th>Data Fim</th>
            </tr>
        </thead>
        <tbody>
            {% for lembrete in lembretes %}
            <tr>
                <td>{{ lembrete.autor }}</td>
                <td>{{ lembrete.destinatario }}</td>
                <td>{{ lembrete.data_fim }}</td>
            </tr>
            <tr class="row-details">
                <td colspan="4">
                    <table class="nested-table">
                        <tr>
                            <th>Titulo</th>
                            <td>{{ lembrete.titulo }}</td>
                        </tr>
                        <tr>
                            <th>Mensagem</th>
                            <td>{{ lembrete.msg }}</td>
                        </tr>
                        <tr>
                            <th>Tipo</th>
                            <td>{{ lembrete.tipo }}</td>
                        </tr>
                        <tr>
                            <th>Data Inicial</th>
                            <td>{{ lembrete.data_inicil }}</td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <input type="button" onclick="showDiv('Lembrete', '{{lembrete.id}}', '{{lembrete.nome}}')" class="cor-cancelar"
                                    style="margin-bottom: 10px;" value="Apagar">
                                <a href="{{url_for('atulizLembretes',id=lembrete.id)}}"><input type="submit"
                                        class="cor-alerta" name="" value="Editar"></a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="pagination">
    {% if lembretes.has_prev %}
    {% if busca %}
    <form action="{{ url_for('searchlembrete', page=lembretes.prev_num) }}" method="POST">
        <input value="{{ busca }}" type="hidden" id="searchinput" name="search_string">
        <input value="{{ escolha }}" type="hidden" id="searchselector" name="searchselector">
        <button type="submit">&lt;</button>
    </form>
    {% else %}
    <a href="{{ url_for('lembretes', page=lembretes.prev_num) }}">&lt;</a>
    {% endif %}
    {% endif %}
    {% if lembretes.total > 10 %}
    {% for page_num in lembretes.iter_pages(left_edge=0, right_edge=1, left_current=1, right_current=1) %}
    {% if page_num %}
    {% if lembretes.page == page_num %}
    {%if busca %}
    <form action="{{ url_for('searchlembrete', page=page_num) }}" method="POST">
        <input value="{{ busca }}" type="hidden" id="searchinput" name="search_string">
        <input value="{{ escolha }}" type="hidden" id="searchselector" name="searchselector">
        <button class="paginationActive" type="submit">{{ page_num }}</button>
    </form>
    {% else %}
    <a class="paginationActive" href="{{ url_for('lembretes', page=page_num) }}">{{ page_num }}</a>
    {% endif %}
    {% else %}
    {%if busca %}
    <form action="{{ url_for('searchlembrete', page=page_num) }}" method="POST">
        <input value="{{ busca }}" type="hidden" id="searchinput" name="search_string">
        <input value="{{ escolha }}" type="hidden" id="searchselector" name="searchselector">
        <button type="submit">{{ page_num }}</button>
    </form>
    {% else %}
    <a href="{{ url_for('lembretes', page=page_num) }}">{{ page_num }}</a>
    {% endif %}
    {% endif %}
    {% endif %}
    {% endfor %}
    {% endif %}
    {% if lembretes.has_next %}
    {% if busca %}
    <form action="{{ url_for('searchlembrete', page=lembretes.next_num) }}" method="POST">
        <input value="{{ busca }}" type="hidden" id="searchinput" name="search_string">
        <input value="{{ escolha }}" type="hidden" id="searchselector" name="searchselector">
        <button type="submit">&gt;</button>
    </form>
    {% else %}
    <a href="{{ url_for('lembretes', page=lembretes.next_num) }}">&gt;</a>
    {% endif %}
    {% endif %}
</div>


{% endblock content %}