{% extends 'layouts.html'%}

{% block content %}
<h2 class="cabeçario-pagina">{{status}}</h2>
{% if Serviço.id == 0 %}
<div style="background-color: aliceblue; font-size: 20px; display: inline-block; border-radius: 20px; padding: 10px;">
    <strong>EDITANDO: </strong>{{ Serviço.editor_finalizado_id }}
</div>
{%else%}
<div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
    <div
        style="background-color: aliceblue; font-size: 20px; display: inline-block; border-radius: 20px; padding: 10px;">
        <strong>ID: </strong>{{ Serviço.id }}
    </div>
    <a><input type="submit" class="button-grande cor-alerta" onclick="gerarPDF({{Serviço.id}})" name="" value="PDF"></a>
</div>
{%endif%}
<input type="hidden" name="Ser_id" id="Ser_id" value="{{ Serviço.id }}">
<div id="MensagemServiço" class="retira"></div>

<div class="DadosClienteServiço">
    <fieldset class="containerForm">
        <div class="header toggleButton">
            <div class="divCentro">
                <legend>Dados do Cliente</legend>
                <span style="font-size: 80%;">(Dados Obrigatorios)</span>
            </div>
            <span class="arrow">▼</span>
        </div>
        <div class="containerDados hidden">
            {% if status == 'Finalizado' %}
            {%else%}
            <div style="padding: 5px;">
                <a href="{{url_for('EscolhaCliente', id=Serviço.id)}}">
                    <input type="submit" class="cor-ok" name="" value="Adicionar Cliente Cadastrado">
                </a>
            </div>
            {%endif%}
            {%if Serviço.cliente_os_id > 0%}
            <span>ID do Cliente : <h3>{{Serviço.cliente_os.id}}</h3></span>
            <label for="clientName">Nome do Cliente:</label>
            {% if Serviço.cliente_os.nomeFantasia %}
            <input type="text" id="clientName" name="clientName" value="{{Serviço.cliente_os.nomeFantasia}}" required
                disabled>
            {% else %}
            <input type="text" id="clientName" name="clientName" value="{{Serviço.cliente_os.nome}}" required disabled>
            {% endif %}
            <label for="telefone">Telefone:</label>
            <input type="text" id="telefone" name="telefone" value="{{Serviço.cliente_os.fone}}" required disabled>

            <label for="email">Email:</label>
            <input type="text" class="anular" id="email" name="email" value="{{Serviço.cliente_os.email}}" required
                disabled>

            {%else%}
            <label for="clientName">Nome do Cliente:</label>
            <input type="text" id="clientName" name="clientName" value="{{nome_cliente_os}}" required>

            <label for="telefone">Telefone:</label>
            <input type="text" id="telefone" name="telefone" value="{{nome_telefone_os}}" required>

            <label for="email">Email:</label>
            <input type="text" class="anular" id="email" name="email" value="{{nome_email_os}}" required>
            {%endif%}
        </div>
    </fieldset>
    <fieldset class="containerForm">
        <div class="header toggleButton">
            <div class="divCentro">
                <legend>Dados do Carro</legend>
                <span style="font-size: 80%;">(Dados Obrigatorios)</span>
            </div>
            <span class="arrow">▼</span>
        </div>
        <div class="containerDados hidden">
            {%if Serviço.cliente_os_id == 0%}
            {%else%}
            {% if status == 'Finalizado' %}
            {%else%}
            <form action="/EscolhaVeiculo/{{ Serviço.id }}/{{Serviço.cliente_os.id}}" method="POST">
                <input type="hidden" name="_method" value="ADICIONAR">
                <input type="submit" class="cor-ok" value="Adicionar Carro">
            </form>
            {%endif%}
            {%endif%}
            {%if Serviço.veiculo_os_id > 0%}
            <label for="licensePlate">Placa do Carro:</label>
            <input type="text" id="licensePlate" name="licensePlate" value="{{Serviço.veiculo_os.placa}}" disabled>

            <label for="carBrand">Marca do Carro:</label>
            <input type="text" id="carBrand" name="carBrand" value="{{Serviço.veiculo_os.carro.marca}}" disabled>

            <label for="carModel">Modelo do Carro:</label>
            <input type="text" id="carModel" name="carModel" value="{{Serviço.veiculo_os.carro.modelo}}" disabled>

            <label for="carYear">Ano do Carro:</label>
            <input type="text" id="carYear" name="carYear" value="{{Serviço.veiculo_os.carro.ano}}" disabled>

            <label for="carEngine">Motor do Carro:</label>
            <input type="text" id="carEngine" name="carEngine" value="{{Serviço.veiculo_os.carro.motor}}" disabled>

            <label for="carEngine">KM do Carro:</label>
            {%if status == 'Finalizado' or status == 'Editar Finazados'%}
            <input type="text" id="carEngine" name="carEngine" value="{{Serviço.km_final}}" disabled>
            {%else%}
            <input type="text" id="carEngine" name="carEngine" value="{{Serviço.veiculo_os.km}}" disabled>
            {% endif %}
            {% else %}
            <label for="placa">Placa do Carro:</label>
            <input type="text" id="placa" name="placa" value="{{placa}}">

            <label for="Ser_marca">Marca do Carro:</label>
            <input type="text" id="Ser_marca" name="Ser_marca" value="{{marca}}">

            <label for="Ser_modelo">Modelo do Carro:</label>
            <input type="text" id="Ser_modelo" name="Ser_modelo" value="{{modelo}}">

            <label for="Ser_ano">Ano do Carro:</label>
            <input type="text" id="Ser_ano" name="Ser_ano" value="{{ano}}">

            <label for="Ser_motor">Motor do Carro:</label>
            <input type="text" id="Ser_motor" name="Ser_motor" value="{{motor}}">
            <label for="km">KM do Carro:</label>
            <input type="number" id="km" name="km" value="{{km}}">
            {% endif %}
        </div>
    </fieldset>
</div>
<div class="product-table">
    <table class="product-table">
        <thead>
            <tr>
                <th style="background-color: #444343; font-size: 120%;">Dados do Orçamento</th>
            </tr>
        </thead>
        <tbody>
            {% if status == 'Finalizado' %}
            {%else%}
            <tr>
                <th>
                    <div style="display: flex; justify-content: space-between;">
                        <div style="padding: 5px;">
                            <a href="{{url_for('EscolhaMDO', id=Serviço.id)}}" onclick="return validarCampos();">
                                <input type="submit" class="cor-ok" name="" value="Add Mão de Obra">
                            </a>
                        </div>
                        <div style="padding: 5px;">
                            <a href="{{url_for('AddItensManual', id=Serviço.id)}}" onclick="return validarCampos();">
                                <input type="submit" class="cor-alerta" name="" value="Add Item Manualmente">
                            </a>
                        </div>
                        <div style="padding: 5px;">
                            <a href="{{url_for('EscolhaPeças', id=Serviço.id)}}" onclick="return validarCampos();">
                                <input type="submit" class="cor-ok" name="" value="Add Peças">
                            </a>
                        </div>
                    </div>
                </th>
            </tr>
            {%endif%}

            {% if items_data_peças %}
            {% for item_peça in items_data_peças %}
            <tr>
                <td>
                    <fieldset class="containerForm" style="cursor: pointer;">
                        <div class="peca-Nome toggleButton">
                            <p></p>
                            <div><strong>{{ loop.index }}&rpar; Nome:</strong><span>{{ item_peça.nome
                                    }}</span><span class="arrow">▼</span>
                            </div>
                        </div>
                        <div class="containerDados hidden">
                            <div class="peca-card">
                                <div><strong>Código:</strong>{{ item_peça.codigo }}</div>
                                <hr>
                                <div>
                                    <strong>Unidade:</strong>
                                    {% if status == 'Finalizado' %}
                                    <input class="number-input" data-item-id="{{ loop.index0 }}"
                                        style="text-align: center;width: 50px; font-size: 100%;" type="number" id="un"
                                        name="un" value="{{ item_peça.un }}" min="1" disabled>
                                    {%else%}
                                    <input class="number-input" data-item-id="{{ loop.index0 }}"
                                        style="text-align: center;width: 50px; font-size: 100%;" type="number" id="un"
                                        name="un" value="{{ item_peça.un }}" min="1">
                                    {%endif%}
                                </div>
                                <hr>
                                <div>
                                    <strong>Lado:</strong>
                                    {% if status == 'Finalizado' %}
                                    <p>{{ item_peça.lado }}</p>
                                    {%else%}
                                    <select name="lado" class="semselect2 searchselector lado"
                                        data-item-id="{{ loop.index0 }}">
                                        <option value="{{ item_peça.lado }}" selected>{{ item_peça.lado }}
                                        </option>
                                        <option value="S">Sem Lado</option>
                                        <option value="L/D">Direita</option>
                                        <option value="L/E">Esquerda</option>
                                    </select>
                                    {%endif%}
                                </div>
                                <hr>
                                <div><strong>Preço:</strong><span class="precoPeça">{{ item_peça.preso}}</span>
                                </div>
                                <hr>
                                <div class="preco-total" style="color: #008337; font-weight: bold;"><strong
                                        style="color: #000000;">Preço Total:</strong></div>
                                <hr>
                                {% if status == 'Finalizado' %}
                                {%else%}
                                <form action="/apagar_item_peças/{{ Serviço.id }}/{{ loop.index0 }}" method="POST">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="submit" class="cor-cancelar" value="Apagar Item">

                                </form>
                                {%endif%}
                            </div>
                        </div>
                    </fieldset>
                </td>
            </tr>

            {% endfor %}
            {% else %}
            {% endif %}
            <tr>
                <td>
                    <div id="soma_peças"><strong>Total em Peças:</strong> R$ 0.00</div>
                </td>
            </tr>
            {% if items_data_MDO %}
            {% for items_MDO in items_data_MDO %}
            <tr>
                <td>
                    <fieldset class="containerForm" style="cursor: pointer;">
                        <div class="peca-Nome toggleButton">
                            <div><strong>{{ loop.index }}&rpar;</strong><span>MÃO DE OBRA</span><span
                                    class="arrow">▼</span>
                            </div>
                        </div>
                        <div class="hidden">
                            <div class="peca-card">
                                <div><strong>Nome:</strong><span>{{ items_MDO.nome }}</span></div>
                                <hr>
                                <div style="color: #008337; font-weight: bold;"><strong
                                        style="color: #000000;">Preço:</strong><span class="precoMDO">
                                        {{items_MDO.preso}}</span></div>
                                <hr>
                                {% if status == 'Finalizado' %}
                                {%else%}
                                <form action="/apagar_item_mos/{{ Serviço.id }}/{{ loop.index0 }}" method="POST">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="submit" class="cor-cancelar" value="Apagar Item">
                                </form>
                                {%endif%}
                            </div>
                        </div>
                    </fieldset>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            {% endif %}
            <tr>
                <td>
                    <div id="somaTotal"><strong>Total:</strong> R$ 0.00</div>
                </td>
            </tr>
        </tbody>
    </table>
    <label for="obsSer">Observação:</label>
    {% if status == 'Finalizado' %}
    <p style="font-size: 15px; padding: 5px;">{{Serviço.obs}}</p>
    {%else%}
    <textarea id="obsSer" name="obsSer" rows="5" cols="40">{{Serviço.obs}}</textarea>
    {%endif%}

</div>

<div style="padding: 20px;">
    {%if session["nivel"] >= 3%}
    {% if status == 'Orçamento' %}
    <a href="{{url_for('aprovarServiço', id=Serviço.id)}}">
        <input type="submit" style="font-size: 20px;" class="cor-ok" name="" value="APROVAR SERVIÇO">
    </a>
    {%endif%}

    {% if status == 'Aprovado' %}
    <div style="display: flex; justify-content: space-between;">
        <div style="padding: 5px;  width: 50%;">
            {{ form.mecanico.label }} {{ form.mecanico(id="mecanico") }}
        </div>
        <div style="padding: 5px; width: 50%;">
            {{ form.vendedor.label }} {{ form.vendedor(id="vendedor") }}
        </div>
    </div>
    <hr>
    <a href="{{url_for('finalizarServiço', id=Serviço.id)}}">
        <input type="submit" style="margin: 5px; font-size: 20px;" class="cor-ok" name="" value="FINALIZAR">
    </a>
    {%endif%}

    {%else%}
    {%endif%}
    {% if status == 'Finalizado' %}
    <div style="display: flex; justify-content: space-between;">
        <div style="padding: 1px;  width: 50%;">
            <label>Mecanico:</label>
            <p>{{Serviço.mecanico.apelido}}</p>
        </div>
        <div style="padding: 1px; width: 50%;">
            <label>Vendedor:</label>
            <p>{{Serviço.vendedor.apelido}}</p>
        </div>
    </div>
    <hr>
    {%if session["nivel"] >= 4%}
    <a href="{{url_for('finalizarEdit', id=Serviço.id)}}">
        <input type="submit" style="font-size: 10px;" class="cor-alerta" name="" value="EDITAR">
    </a>
    {%endif%}
    {%endif%}
    {% if status == 'Editar Finazados' %}
    <div style="display: flex; justify-content: space-between;">
        <div style="padding: 5px;  width: 50%;">
            {{ form.mecanico.label }} {{ form.mecanico(id="mecanico") }}
        </div>
        <div style="padding: 5px; width: 50%;">
            {{ form.vendedor.label }} {{ form.vendedor(id="vendedor") }}
        </div>
    </div>
    <hr>
    <div class="div_admistrador">
        <h3>Modificar Finalizado</h3>
        <form action="/finalizarEditVolt/{{Serviço.id }}" method="POST">
            <input type="hidden" id="valordaspesas" name="valordaspesas" value="R$ 0,00">
            <input type="hidden" id="valortodos" name="valortodos" value="R$ 0,00">
            <div>
                <div style="background-color: brown; border-radius: 20px;" class="lado-a-lado">
                    <label for="gasto">Valor Gasto:</label>
                    <input type="text" name="gasto" id="gasto" class="inputReais" value="{{Serviço.valor_gasto}}">
                </div>
            </div>

            <div style="background-color: green; border-radius: 20px; padding: 5px;">
                {% for items_carteira in items_data_carteira %}
                <div
                    style="border: solid; padding: 2px; text-align: center; border-radius: 10px; border-color: rgb(170, 170, 170);">
                    <div>
                        <label for="carteira">Adicione Carteira:</label>
                        <select class="searchselector" name="carteira" id="carteira"
                            style="width: 80%; height: 30px;font-size: 20pl;border-top-left-radius: 10px;border-top-right-radius: 10px; border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;text-align: center; font-size: 16px;"
                            required>
                            <option style="background-color: #444343;" value="{{items_carteira.carteira_id}}" selected>
                                {{items_carteira.carteira_nome}}
                            </option>
                            {%for carteira in carteiras%}
                            <option value="{{carteira.id}}">{{carteira.nome}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="lado-a-lado">
                        <label for="pago">Valor Pago:</label>
                        <input type="text" name="pago" id="pago" class="inputReais" placeholder="R$ 0,00"
                            value="{{items_carteira.valor_recebido}}" required>
                    </div>
                    <label for="detalesPago">Detale do Pagamento:</label>
                    <input type="text" name="detalesPago" value="{{items_carteira.detalesPago}}" required>
                </div>
                {%endfor%}
            </div>
            <div>
                <label for="kmAtualiza">Adicione o KM:</label>
                <input type="number" name="kmAtualiza" id="kmAtualiza" value="{{Serviço.km_final}}" required>
            </div>
            <div style="padding: 0px 0px 0px 0px;" class="lado-a-lado">
                <input type="submit" class="button-grande cor-ok" name="" value="SALVAR">
            </div>
        </form>

        <input type="hidden" id="servico_id" value="{{ Serviço.editor_finalizado_id }}">
        <button class="button-pequeno cor-cancelar" id="meuBotao">CANCELAR</button>
    </div>

    {%else%}
    {%endif%}
</div>

<div class="nota-servico" style="width: 100%; margin: 0 auto;">
    <div class="company-container">
        <img src="{{ url_for('static', filename='imagens/' + session['dados_empresa_logo']) }}">

        <div class="adireita">
            <h3>{{session['dados_empresa_nome']}}</h3>
            <p><strong>Telefone:</strong> {{session['dados_empresa_fone']}} - {{session['dados_empresa_fone1']}}</p>
            <p><strong>E-mail:</strong> {{session['dados_empresa_email']}}</p>
            <p><strong>Endereço:</strong> {{session['dados_empresa_endereço']}}</p>
            <p><strong>Criado:</strong> {{Serviço.user_os.apelido}}</p>

        </div>
    </div>
    {% if status == 'Finalizado' %}
    <h2 style="text-align: center;">Nota de Serviço {{Serviço.status}} N:{{ Serviço.id }}</h2>
    {%else%}
    <h2 style="text-align: center;">{{Serviço.status}} N:{{ Serviço.id }}</h2>
    {%endif%}

    <div style="padding: 5px;" class="info-group">
        {%if Serviço.cliente_os_id > 0%}
        {% if Serviço.cliente_os.nomeFantasia %}
        <div style="display: flex;"><strong>Nome:</strong>
            <p id="nomecliente">{{Serviço.cliente_os.nomeFantasia}}</p>
        </div>
        {% else %}
        <div style="display: flex;"><strong>Nome:</strong>
            <p id="nomecliente">{{Serviço.cliente_os.nome}}</p>
        </div>
        {% endif %}
        <p><strong>Telefone:</strong>{{Serviço.cliente_os.fone}}</p>
        <p><strong>Email:</strong>{{Serviço.cliente_os.email}}</p>
        {%else%}
        <div style="display: flex;"><strong>Nome:</strong>
            <p id="nomecliente">{{nome_cliente_os}}</p>
        </div>
        <p><strong>Telefon:</strong>{{nome_telefone_os}}</p>
        <p><strong>Email:</strong>{{nome_email_os}}</p>
        {%endif%}
    </div>

    <div style="padding: 2px;" class="info-group">
        {%if Serviço.veiculo_os_id > 0%}
        <p><strong>Placa:</strong>{{Serviço.veiculo_os.placa}}</p>

        <p><strong>Marca:</strong>{{Serviço.veiculo_os.carro.marca}}</p>

        <div style="display: flex;"><strong>Modelo:</strong>
            <p id="modelocarro">{{Serviço.veiculo_os.carro.modelo}}</p>
        </div>

        <p><strong>Ano:</strong>{{Serviço.veiculo_os.carro.ano}}</p>

        <p><strong>Motor:</strong>{{Serviço.veiculo_os.carro.motor}}</p>

        {%if status == 'Finalizado' or status == 'Editar Finazados'%}
        <p><strong>Motor:</strong>{{Serviço.km_final}}</p>
        {%else%}
        <p><strong>Motor:</strong>{{Serviço.veiculo_os.km}}</p>
        {% endif %}
        {% else %}

        <p><strong>Placa:</strong>{{placa}}</p>

        <p><strong>Marca:</strong>{{marca}}</p>

        <div style="display: flex;"><strong>Modelo:</strong>
            <p id="modelocarro">{{modelo}}</p>
        </div>

        <p><strong>Ano:</strong>{{ano}}</p>

        <p><strong>Motor:</strong>{{motor}}</p>

        <p><strong>Km:</strong>{{km}}</p>

        {% endif %}

    </div>
    <hr>
    <table>
        <thead>
            <tr>
                <th>Codigo/Tipo</th>
                <th>Nome</th>
                <th>Lado</th>
                <th>Un</th>
                <th>Valor Unitário</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% if items_data_peças %}
            {% for item_peça in items_data_peças %}
            <tr>
                <td>{{item_peça.codigo}}</td>
                <td>{{item_peça.nome}}</td>
                <td>{{item_peça.lado}}</td>
                <td>{{item_peça.un}}</td>
                <td style="white-space: nowrap;">{{item_peça.preso}}</td>
                <td style="white-space: nowrap;">{{item_peça.pago_total}}</td>
            </tr>
            {%endfor%}
            {%else%}
            {%endif%}
            {% if items_data_MDO %}
            {% for items_MDO in items_data_MDO %}
            <tr>
                <td>Mão de Obra</td>
                <td>{{items_MDO.nome}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td style="white-space: nowrap;">{{items_MDO.preso}}</td>
            </tr>
            {%endfor%}
            {%else%}
            {%endif%}
        </tbody>
    </table>
    <p style="text-align: right; padding: 5px; font-size: 18px;"><strong>Total em Peças:</strong>
        {{valor_total_peças}}
    </p>

    <div class="rodape">
        <p><strong>Total:</strong> {{valor_total_total}}</p>
    </div>

    {% if status == 'Finalizado' %}
    {% if status == 'Finalizado' %}
    <div style="font-size: 12px; display: flex; justify-content: space-between; flex-wrap: wrap;">
        <p><strong>Vendedor:</strong> {{Serviço.vendedor.apelido}}</p>
        <p><strong>Mecanico:</strong> {{Serviço.mecanico.apelido}}</p>
    </div>
    {%else%}
    {%endif%}
    <div style="font-size: 12px; display: flex;">

        <p><strong>Data:</strong> {{Serviço.data_finalizada.strftime('%d/%m/%Y %H:%M') }}</p>
    </div>
    {%else%}
    <div style="font-size: 12px; display: flex;">
        <p><strong>Data:</strong> {{ Serviço.data_criado.strftime('%d/%m/%Y %H:%M') }}</p>
    </div>
    {%endif%}

</div>
<script>
    var modelocarro = document.getElementById("modelocarro");
    var modelocarroconteudoParagrafo = modelocarro.innerHTML;

    var nomecliente = document.getElementById("nomecliente");
    var nomeclienteconteudoParagrafo = nomecliente.innerHTML;

    function redirecionar() {
        var idInput = document.getElementById("servico_id");

        var botao = document.getElementById("meuBotao");

        if (idInput && botao) {
            var id = idInput.value;
            var parametro = "tratatar";
            window.location.href = `/AbrirServiço/${id}/${parametro}`;
        }
    }

    var botao = document.getElementById("meuBotao");
    if (botao) {

        setTimeout(function () {
            redirecionar();
        }, 120000);

        botao.addEventListener("click", redirecionar);
        botao.addEventListener("keydown", function (event) {
            if (event.key === "Enter" || event.keyCode === 13) {
                redirecionar();
            }
        });
    }
    function removerUltimaCopia() {
        var adicioneados = document.getElementById("adicioneados");
        var divs = adicioneados.getElementsByTagName("div");
        if (divs.length > 0) {
            adicioneados.removeChild(divs[divs.length - 1]);
        }
    }
    // Cria o PDF
    function CriarPDF() {

        var notasFiscais = document.querySelectorAll('.nota-servico');
        var element = document.createElement('div');
        var estilosOriginais = [];
        notasFiscais.forEach(function (notaFiscal) {
            estilosOriginais.push({ element: notaFiscal, display: notaFiscal.style.display });

            notaFiscal.style.display = 'block';
            element.appendChild(notaFiscal.cloneNode(true));
        });


        html2pdf(element, {
            margin: 0,
            filename: nomeclienteconteudoParagrafo + ' ' + modelocarroconteudoParagrafo + '.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 2 },
            jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' },
        });


        estilosOriginais.forEach(function (estiloOriginal) {
            estiloOriginal.element.style.display = estiloOriginal.display;
        });

    }

    function gerarPDF(numero_serviço) {
        $.ajax({
            url: '/AbrirServiço/' + numero_serviço + '/tratar',
            method: 'GET',
            success: function (dados) {
                $('#content').html(dados);
                CriarPDF()
            },
            error: function (erro) {
                console.error('Erro ao buscar dados do servidor:', erro);
            }
        });
    }


</script>
{% endblock content %}