{% extends 'layouts.html'%}

{% block content %}
{% include '_menssagem.html'%}
{% include 'NavAdimin.html' %}

<h2 class="cabeçario-pagina">Editar Carro</h2>
<form accept="" method="post">
    <fieldset class="containerForm">
        <form accept="" method="post">
            <label for="marca">Marca</label>
            <input type="text" value="{{marca}}" name="marca" style="text-align: center;" required>
            <label for="modelo">Modelo</label>
            <input type="text" value="{{modelo}}" name="modelo" style="text-align: center;" required>
            <label for="ano">Ano do Modelo</label>
            <input type="number" value="{{ano}}" name="ano" min="1900" max="{{anoatual}}" style="text-align: center;"
                required>
            <label for="motor">Motor</label>
            <input type="text" value="{{motor}}" name="motor" style="text-align: center;" required>
        </form>
        <input type="submit" value="ATUALIZAR" class="button-grande cor-ok">
        <a href="{{url_for('carros')}}" class="button-medio cor-cancelar">CANCELAR</a>
    </fieldset>
</form>
{% endblock content %}