<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{url_for('static',filename='css/estiloMob.css')}}" media="(max-width: 760px)">
    <link rel="stylesheet" href="{{url_for('static',filename='css/estilo.css')}}" media="(min-width: 760px)">


    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>

    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/1.0.2/chartjs-plugin-annotation.min.js"></script>
    <script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>

    <title>{{title}}</title>
</head>

<body>
    <header id="NavAdmin">
        <input id="menuButton" type="checkbox" />
        <label for="menuButton">
            <div class="ChecMenu">
                <span class="hamburguer"></span>
            </div>
        </label>
    </header>

    <div id="menu" class="principalCorMesclada">
        <div class="principalCorUnica">
            <h4>{{session["nome"]}}</h4>
            <hr>
            <p>{{session["cargo"]}}</p>
            <p>{{session["email"]}}</p>
            <a href="{{url_for('user_logaut')}}">sair da conta </a>
        </div>

        <ul>
            <li class="principalCorUnica"><a href="{{url_for('Admin')}}"><img
                        src="{{ url_for('static', filename='img/casa.png') }}" alt="">
                    <p>Início</p>
                </a></li>
            <li class="principalCorUnica"><a href="#" onclick="toggleSubMenu(this)"><img
                        src="{{ url_for('static', filename='img/colaborador.png') }}" alt="">
                    <p>Colaborador<i>&#8595;</i></p>
                </a>
                <ul class="principalCorMesclada submenu">
                    <hr>
                    <li><a href="{{url_for('dadosUsuario',id=session['_user_id'])}}">Dados<a></li>

                    {% if session["nivel"] >= 3 %}
                    <li><a href="{{url_for('relatorio')}}">Relatorios</a></li>
                    {%else%}
                    {%endif%}
                    {% if session["nivel"] >= 2 %}
                    <li><a href="{{url_for('servicoRelatorios')}}">Meus Serviços</a></li>
                    {%else%}
                    {%endif%}
                    <hr>
                </ul>
            </li>

            {%if session["nivel"] >= 3%}
            <li class="principalCorUnica"><a href="{{url_for('clientes')}}" onclick="toggleSubMenu(this)"><img
                        src="{{ url_for('static', filename='img/clientes.png') }}" alt="">
                    <p>Clientes</p>
                </a>
            </li>
            {%else%}
            {%endif%}
            {%if session["nivel"] >= 3%}
            <li class="principalCorUnica"><a href="{{url_for('carros')}}" onclick="toggleSubMenu(this)"><img
                        src="{{ url_for('static', filename='img/carro.png') }}" alt="">
                    <p>Carros</p>
                </a>
            </li>
            {%else%}
            {%endif%}
            {%if session["nivel"] >= 3%}
            <li class="principalCorUnica"><a href="#" onclick="toggleSubMenu(this)"><img
                        src="{{ url_for('static', filename='img/MDO.png') }}" alt="">
                    <p>Mão de Obra<i>&#8595;</i></p>
                </a>
                <ul class="principalCorMesclada submenu">
                    <hr>
                    <li><a href="{{url_for('MaoObras')}}">Mão de Obras</a></li>
                    <li><a href="{{url_for('Nome_para_Mao_de_Obra')}}">Nomes</a></li>
                    {%if session["nivel"] >= 4%}
                    <li><a href="{{url_for('Categorias_de_Mão_de_Obra')}}">Cateogoria</a></li>
                    {%else%}
                    {%endif%}
                    {%if session["nivel"] >= 4%}
                    <li><a href="{{url_for('ValorMDO')}}">Valor</a></li>
                    {%else%}
                    {%endif%}
                    <hr>
                </ul>
            </li>
            {%else%}
            {%endif%}
            {%if session["nivel"] >= 3%}
            <li class="principalCorUnica"><a href="#" onclick="toggleSubMenu(this)"><img
                        src="{{ url_for('static', filename='img/pistao.png') }}" alt="">
                    <p>Peças<i>&#8595;</i></p>
                </a>
                <ul class="principalCorMesclada submenu">
                    <hr>
                    <li><a href="{{url_for('Pecas')}}">Peças</a></li>
                    <li><a href="{{url_for('Marca_das_Pecas')}}">Marcas</a></li>
                    <hr>
                </ul>
            </li>
            {%else%}
            {%endif%}
            {%if session["nivel"] >= 3%}
            <li class="principalCorUnica"><a href="#" onclick="toggleSubMenu(this)"><img
                        src="{{ url_for('static', filename='img/fornecedor.png') }}" alt="">
                    <p>Fornecedor<i>&#8595;</i></p>
                </a>
                <ul class="principalCorMesclada submenu">
                    <hr>
                    <li><a href="{{url_for('Fornecedors')}}">Fornecedors</a></li>
                    <li><a href="{{url_for('Cateforia_do_Fornecedor')}}">Cateogorias</a></li>
                    <hr>
                </ul>
            </li>
            {%else%}
            {%endif%}
            {%if session["nivel"] >= 2%}
            <li class="principalCorUnica"><a href="#" onclick="toggleSubMenu(this)"><img
                        src="{{ url_for('static', filename='img/servico.png') }}" alt="">
                    <p>Serviços<i>&#8595;</i></p>
                </a>
                <ul class="principalCorMesclada submenu">
                    <hr>
                    <li><a href="{{url_for('servisos',status='Orçamento')}}">Orçamentos</a></li>
                    {%if session["nivel"] >= 3%}
                    <li><a href="{{url_for('servisos',status='Aprovado')}}">Aprovados</a></li>
                    <li><a href="{{url_for('servisos',status='Finalizado')}}">Finalizados</a></li>
                    <li><a href="{{url_for('servisos',status='Todo')}}">Todos</a></li>
                    {%else%}
                    {%endif%}
                    <hr>
                </ul>
            </li>
            {%else%}
            {%endif%}
            {%if session["nivel"] >= 4%}
            <li class="principalCorUnica"><a href="#" onclick="toggleSubMenu(this)"><img
                        src="{{ url_for('static', filename='img/moeda.png') }}" alt="">
                    <p>Administrativo<i>&#8595;</i></p>
                </a>
                <ul class="principalCorMesclada submenu">
                    <hr>
                    <li><a href="{{url_for('Caixas',tipo='Todos')}}">Caixas</a></li>
                    <li><a href="{{url_for('Caixas',tipo='Entrada')}}">Entradas</a></li>
                    <li><a href="{{url_for('Caixas',tipo='Saida')}}">Saidas</a></li>
                    <li><a href="{{url_for('Carteiras')}}">Carteiras</a></li>
                    <li><a href="{{url_for('Categorias_de_Caixa')}}">Categorias</a></li>
                    <hr>
                </ul>
            </li>
            {%else%}
            {%endif%}
            {% if session["nivel"] >= 5 %}
            <li class="principalCorUnica"><a href="#" onclick="toggleSubMenu(this)"><img
                        src="{{ url_for('static', filename='img/grafico.png') }}" alt="">
                    <p>Metas<i>&#8595;</i></p>
                </a>
                <ul class="principalCorMesclada submenu">
                    <hr>
                    <li><a href="{{url_for('MetaBruta')}}">Bruto</a></li>
                    <li><a href="{{url_for('MetaLiquida')}}">Liquido</a></li>
                    <li><a href="{{url_for('MetaMecanico')}}">Mecanico</a></li>
                    <li><a href="{{url_for('MetaVendedor')}}">Vendedor</a></li>
                    <hr>
                </ul>
            </li>
            {%else%}
            {%endif%}
            {% if session["nivel"] >= 5 %}
            <li class="principalCorUnica"><a href="#" onclick="toggleSubMenu(this)"><img
                        src="{{ url_for('static', filename='img/equipe.png') }}" alt="">
                    <p>Equipe<i>&#8595;</i></p>
                </a>
                <ul class="principalCorMesclada submenu">
                    <hr>
                    <li><a href="{{url_for('Users')}}">Colaboradores</a></li>
                    <li><a href="{{url_for('Cargos')}}">Cargos</a></li>
                    <li><a href="{{url_for('Lembretes')}}">Avisos</a></li>
                    <hr>
                </ul>
            </li>
            {%else%}
            {%endif%}
            {% if session["nivel"] >= 6 %}
            <li class="principalCorUnica"><a href="{{url_for('configurar')}}"><img
                        src="{{ url_for('static', filename='img/config.png') }}" alt="">
                    <p>Configurar</p>
                </a>
            </li>
            {%else%}
            {%endif%}
            <li class="principalCorUnica"><a href="#" onclick="closeMenu()"><img
                        src="{{ url_for('static', filename='img/x.png') }}" alt="">
                    <p>Fechar</p>
                </a></li>
        </ul>
    </div>
    <div id="Mensagens">
        {% include '_confirmar.html'%}
        {% include '_menssagem.html' %}
    </div>
    <div id="loader">
        <div class="loader-icon"></div>
        <p>Aguarde, a página está carregando...</p>
    </div>
    <main id="content" onclick="closeMenu()">
        {% block content %}

        {% endblock content %}
    </main>
    <footer id="DadosBaixo" class="principalCorMesclada">
        {%if session["nivel"] >= 4%}
        <div class="  borda-item">
            <a href="{{url_for('configurar')}}" class=" principalCorUnica menu-item"><img
                    src="{{ url_for('static', filename='img/config.png') }}" alt=""></a>
        </div>
        {%else%}
        {%endif%}
        {%if session["nivel"] >= 2%}
        <div class="borda-item">
            <a href="{{url_for('servisos',status='Orçamento')}}" class="principalCorUnica menu-item"><img
                    src="{{ url_for('static', filename='img/servico.png') }}" alt=""></a>
        </div>
        {%else%}
        {%endif%}
        {%if session["nivel"] >= 1%}
        <div class="borda-item">
            <a href="{{url_for('Admin')}}" class="principalCorUnica menu-item"><img
                    src="{{ url_for('static', filename='img/casa.png') }}" alt=""></a>
        </div>
        {%else%}
        {%endif%}
        {%if session["nivel"] >= 4%}
        <div class="borda-item">
            <a href="{{url_for('Caixas',tipo='Todos')}}" class="principalCorUnica menu-item"><img
                    src="{{ url_for('static', filename='img/moeda.png') }}" alt=""></a>
        </div>
        {%else%}
        {%endif%}
        {%if session["nivel"] >= 1%}
        <div class="borda-item">
            <a href="{{url_for('dadosUsuario',id=session['_user_id'])}}" class="principalCorUnica menu-item"><img
                    src="{{ url_for('static', filename='img/colaborador.png') }}" alt=""></a>
        </div>
        {%else%}
        {%endif%}
    </footer>

    <script src="{{url_for('static',filename='js/JavS.js')}}"></script>
    <script src="{{url_for('static',filename='js/JsStyle.js')}}"></script>
</body>


</html>